# Memento librairie Pandas

In [2]:
import pandas as pd
import os
import numpy as np

## Ouvrir un fichier CSV, JSON, Excel

In [3]:
file_csv = os.path.join('resources') + '/clients.csv'
data_csv = pd.read_csv(file_csv)

file_json = os.path.join('resources') + '/clients.json'
data_json = pd.read_json(file_json)

file_excel = os.path.join('resources') + '/clients.xlsx'
data_excel = pd.read_excel(file_excel)

file_pret_csv = os.path.join('resources') + '/prets.csv'
data_pret = pd.read_csv(file_pret_csv)

## Aperçu des datas

- .head(n) : pour afficher par défaut les 5 premières lignes du dataframe, où n est le nombre de ligne à afficher
- .tail(n) : pour afficher par défaut les 5 dernières lignes du dataframe, où n est le nombre de ligne à afficher

In [4]:
# On affiche les deux premières lignes
data_csv.head(2)

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M

In [5]:
# On affiche par défaut les 5 dernières lignes
data_csv.tail()

     identifiant                            email                nom genre
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

In [6]:
# On affiche par défaut les 5 premières lignes
data_json.head()

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

In [7]:
# On affiche les 10 dernières lignes
data_json.tail(10)

     identifiant                            email                nom genre
218          218           MinetteRoy@fleckens.hu        Minette Roy     F
219          219         RoslynChalifour@cuvox.de   Roslyn Chalifour     M
220          220          KarelBazinet@einrot.com      Karel Bazinet     M
221          221      JosetteBordeleau@einrot.com  Josette Bordeleau     F
222          222         LangleyCaron@armyspy.com      Langley Caron     M
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

In [8]:
# On affiche les 2 premières lignes
data_excel.head(2)

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M

In [9]:
# On affiche les 2 dernières lignes
data_excel.tail(2)

     identifiant                         email             nom genre
226          226  FleurCaouette@jourrapide.com  Fleur Caouette     F
227          227   FrancisMasse@jourrapide.com   Francis Masse     M

In [10]:
# On affiche par défaut les 5 premières et 5 dernières lignes du data frame
data_excel

     identifiant                            email                nom genre
0              0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1              1            GuyMarois@fleckens.hu         Guy Marois     M
2              2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3              3        RussellDurand@armyspy.com     Russell Durand     M
4              4             AlexisRiel@rhyta.com        Alexis Riel     M
..           ...                              ...                ...   ...
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

## Afficher les caractéristiques d'un dataframe

In [11]:
# Le dimensionnement
# Nombre de ligne, Nombre de colonne
data_csv.shape

(228, 4)

In [12]:
# Les types
data_csv.dtypes

identifiant     int64
email          object
nom            object
genre          object
dtype: object

<div class="alert alert-info" >Sous pandas le type "objet" correspond à une colonne de type "String"</div>

In [13]:
# Transformer le dataframe en array (NumPy)
clients_array = data_csv.values
print( clients_array )

[[0 'LaurentDagenais@rhyta.com' 'Laurent Dagenais' 'M']
 [1 'GuyMarois@fleckens.hu' 'Guy Marois' 'M']
 [2 'BeaufortLesage@einrot.com' 'Beaufort Lesage' 'M']
 [3 'RussellDurand@armyspy.com' 'Russell Durand' 'M']
 [4 'AlexisRiel@rhyta.com' 'Alexis Riel' 'M']
 [5 'LeonLapresse@cuvox.de' 'Leon Lapresse' 'M']
 [6 'OrvilleRouthier@gustr.com' 'Orville Routhier' 'M']
 [7 'AgramantPepin@dayrep.com' 'Agramant Pepin' 'M']
 [8 'AiglentinaLambert@fleckens.hu' 'Aiglentina Lambert' 'F']
 [9 'TheodoreClavet@teleworm.us' 'Theodore Clavet' 'M']
 [10 'ByronLefebvre@jourrapide.com' 'Byron Lefebvre' 'M']
 [11 'FlorusDevoe@einrot.com' 'Florus Devoe' 'M']
 [12 'NormandArsenault@armyspy.com' 'Normand Arsenault' 'M']
 [13 'AcelineHughes@jourrapide.com' 'Aceline Hughes' 'F']
 [14 'GastonBrisette@superrito.com' 'Gaston Brisette' 'M']
 [15 'AgateGrandbois@gustr.com' 'Agate Grandbois' 'F']
 [16 'AgricanFoucault@jourrapide.com' 'Agrican Foucault' 'M']
 [17 'PrunellaJosseaume@armyspy.com' 'Prunella Josseaume' 'F']
 [18 'YseultCharest@armyspy.com' 'Yseult Charest' 'F']
 [19 'DorotheeAupry@cuvox.de' 'Dorothee Aupry' 'F']
 [20 'AmauryReault@teleworm.us' 'Amaury Reault' 'M']
 [21 'GillesBeauchamps@superrito.com' 'Gilles Beauchamps' 'M']
 [22 'FranckDumont@gustr.com' 'Franck Dumont' 'M']
 [23 'DelmareLHeureux@dayrep.com' 'Delmare L Heureux' 'F']
 [24 'AlphonseCantin@cuvox.de' 'Alphonse Cantin' 'M']
 [25 'BlondelleRochon@gustr.com' 'Blondelle Rochon' 'F']
 [26 'SavilleBernard@armyspy.com' 'Saville Bernard' 'M']
 [27 'AnnetteJolicoeur@armyspy.com' 'Annette Jolicoeur' 'F']
 [28 'BradamateMichel@armyspy.com' 'Bradamate Michel' 'F']
 [29 'HilaireFrappier@armyspy.com' 'Hilaire Frappier' 'F']
 [30 'MarieBriard@gustr.com' 'Marie Briard' 'F']
 [31 'MadeleineBatard@superrito.com' 'Madeleine Batard' 'F']
 [32 'ArberGarcia@dayrep.com' 'Arber Garcia' 'M']
 [33 'SaberViens@superrito.com' 'Saber Viens' 'M']
 [34 'ArnaudDubois@rhyta.com' 'Arnaud Dubois' 'M']
 [35 'PryorBeauchamp@dayrep.com' 'Pryor Beauchamp' 'M']
 [36 'AlphonsePotvin@armyspy.com' 'Alphonse Potvin' 'M']
 [37 'FitzLafontaine@dayrep.com' 'Fitz Lafontaine' 'M']
 [38 'DelmareLamothe@gustr.com' 'Delmare Lamothe' 'F']
 [39 'DaisiBoileau@jourrapide.com' 'Daisi Boileau' 'F']
 [40 'SomerPaquette@jourrapide.com' 'Somer Paquette' 'M']
 [41 'OlivieCourtemanche@armyspy.com' 'Olivie Courtemanche' 'F']
 [42 'GermainHughes@teleworm.us' 'Germain Hughes' 'M']
 [43 'MorganaBellemare@superrito.com' 'Morgana Bellemare' 'F']
 [44 'MerciMorin@gustr.com' 'Merci Morin' 'F']
 [45 'VerneyBedard@dayrep.com' 'Verney Bedard' 'M']
 [46 'IgnaceAudibert@armyspy.com' 'Ignace Audibert' 'M']
 [47 'FranckBinet@superrito.com' 'Franck Binet' 'M']
 [48 'SumnerRocheleau@einrot.com' 'Sumner Rocheleau' 'M']
 [49 'AubertPatel@armyspy.com' 'Aubert Patel' 'M']
 [50 'SumnerLaprise@superrito.com' 'Sumner Laprise' 'M']
 [51 'MadeleineLeveille@dayrep.com' 'Madeleine Leveille' 'F']
 [52 'BelisardaGuedry@dayrep.com' 'Belisarda Guedry' 'F']
 [53 'ZurieTheberge@gustr.com' 'Zurie Theberge' 'F']
 [54 'ErmengardiBousquet@dayrep.com' 'Ermengardi Bousquet' 'F']
 [55 'FlorenceBeaudoin@einrot.com' 'Florence Beaudoin' 'F']
 [56 'LeoneCrete@armyspy.com' 'Leone Crete' 'F']
 [57 'SearlaitCote@superrito.com' 'Searlait Cote' 'F']
 [58 'AlphonsineBourassa@cuvox.de' 'Alphonsine Bourassa' 'F']
 [59 'DidianeDAubigne@einrot.com' 'Didiane D Aubigne' 'F']
 [60 'EdouardLacroix@cuvox.de' 'Edouard Lacroix' 'M']
 [61 'OdeletteCharron@superrito.com' 'Odelette Charron' 'F']
 [62 'AleronBerard@rhyta.com' 'Aleron Berard' 'M']
 [63 'SylvieDuranseau@einrot.com' 'Sylvie Duranseau' 'F']
 [64 'YvetteDAvis@cuvox.de' 'Yvette D Avis' 'F']
 [65 'SolaineLecuyer@dayrep.com' 'Solaine Lecuyer' 'F']
 [66 'CourtlandDavid@cuvox.de' 'Courtland David' 'M']
 [67 'PatienceCharbonneau@jourrapide.com' 'Patience Charbonneau' 'F']
 [68 'EmmanuelLanctot@cuvox.de' 'Emmanuel Lanctot' 'M']
 [69 'MusetteProvencher@armyspy.com' 'Musette Provencher' 'F']
 [70 'MorganaMarchesseault@teleworm.us' 'Morgana Marchesseault' 'F']
 [71 'ViolletteArnoux@cuvox.de' 'Viollette Arnoux' 'F']
 [72 'SlainieGregoire@cuvox.de' 'Slainie Gregoire' 'F']
 [73 'GarlandLagueux@rhyta.com' 'Garland Lagueux' 'F']
 [74 'FerragusGrimard@cuvox.de' 'Ferragus Grimard' 'M']
 [75 'JeanTollmache@einrot.com' 'Jean Tollmache' 'M']
 [76 'LanceParent@teleworm.us' 'Lance Parent' 'M']
 [77 'CheneyChaloux@cuvox.de' 'Cheney Chaloux' 'M']
 [78 'PierpontLamarre@superrito.com' 'Pierpont Lamarre' 'M']
 [79 'ComforteQuerry@superrito.com' 'Comforte Querry' 'F']
 [80 'NadineMasson@teleworm.us' 'Nadine Masson' 'F']
 [81 'FranceLaderoute@jourrapide.com' 'France Laderoute' 'F']
 [82 'LothairBonenfant@dayrep.com' 'Lothair Bonenfant' 'M']
 [83 'OlivieNorbert@cuvox.de' 'Olivie Norbert' 'F']
 [84 'SomerMarleau@cuvox.de' 'Somer Marleau' 'M']
 [85 'AstridJolicoeur@superrito.com' 'Astrid Jolicoeur' 'F']
 [86 'OlivierGaillard@superrito.com' 'Olivier Gaillard' 'M']
 [87 'PhilipPinneau@teleworm.us' 'Philip Pinneau' 'M']
 [88 'AlexisLagrange@gustr.com' 'Alexis Lagrange' 'M']
 [89 'HeloiseGregoire@dayrep.com' 'Heloise Gregoire' 'F']
 [90 'DexterDavid@fleckens.hu' 'Dexter David' 'M']
 [91 'JacquesMethot@cuvox.de' 'Jacques Methot' 'M']
 [92 'AnceloteDesforges@cuvox.de' 'Ancelote Desforges' 'F']
 [93 'JulietteOuellet@rhyta.com' 'Juliette Ouellet' 'F']
 [94 'AvrilSylvain@superrito.com' 'Avril Sylvain' 'F']
 [95 'RachellePlaisance@armyspy.com' 'Rachelle Plaisance' 'F']
 [96 'BenjaminLabrie@fleckens.hu' 'Benjamin Labrie' 'M']
 [97 'LaureBondy@superrito.com' 'Laure Bondy' 'F']
 [98 'NatalieLeveille@rhyta.com' 'Natalie Leveille' 'F']
 [99 'SydneyGuibord@superrito.com' 'Sydney Guibord' 'F']
 [100 'ZdenekVadnais@superrito.com' 'Zdenek Vadnais' 'M']
 [101 'LoyalQuenneville@superrito.com' 'Loyal Quenneville' 'M']
 [102 'ErnestTachel@cuvox.de' 'Ernest Tachel' 'M']
 [103 'MatthieuPouchard@teleworm.us' 'Matthieu Pouchard' 'M']
 [104 'SearlasArtois@rhyta.com' 'Searlas Artois' 'M']
 [105 'ArnoLeBatelier@einrot.com' 'Arno Le Batelier' 'M']
 [106 'EstellePoisson@jourrapide.com' 'Estelle Poisson' 'F']
 [107 'HarcourtCharpentier@cuvox.de' 'Harcourt Charpentier' 'M']
 [108 'CrescentLavallee@armyspy.com' 'Crescent Lavallee' 'F']
 [109 'EugeniaVadeboncoeur@cuvox.de' 'Eugenia Vadeboncoeur' 'F']
 [110 'GenevreLabrie@cuvox.de' 'Genevre Labrie' 'F']
 [111 'NormandCote@dayrep.com' 'Normand Cote' 'M']
 [112 'ZoeLeclair@gustr.com' 'Zoe Leclair' 'F']
 [113 'PhillipaPerrault@einrot.com' 'Phillipa Perrault' 'F']
 [114 'EliseDesrosiers@jourrapide.com' 'Elise Desrosiers' 'F']
 [115 'RussellRochon@superrito.com' 'Russell Rochon' 'M']
 [116 'BeldaLauzier@armyspy.com' 'Belda Lauzier' 'F']
 [117 'AlphonsineSacre@einrot.com' 'Alphonsine Sacre' 'F']
 [118 'AubineLabelle@cuvox.de' 'Aubine Labelle' 'F']
 [119 'EmileVadnais@rhyta.com' 'Emile Vadnais' 'M']
 [120 'ArienneCantin@superrito.com' 'Arienne Cantin' 'F']
 [121 'JacquesMarcheterre@einrot.com' 'Jacques Marcheterre' 'M']
 [122 'EliotDupuis@gustr.com' 'Eliot Dupuis' 'M']
 [123 'ArthurPlante@jourrapide.com' 'Arthur Plante' 'M']
 [124 'SacripantLabrie@armyspy.com' 'Sacripant Labrie' 'M']
 [125 'SibylaLizotte@cuvox.de' 'Sibyla Lizotte' 'F']
 [126 'ChristianLaberge@armyspy.com' 'Christian Laberge' 'M']
 [127 'VickDavid@gustr.com' 'Vick David' 'M']
 [128 'ComforteCloutier@einrot.com' 'Comforte Cloutier' 'F']
 [129 'ClaudeGalarneau@armyspy.com' 'Claude Galarneau' 'M']
 [130 'ElisePerrault@superrito.com' 'Elise Perrault' 'F']
 [131 'LoringRocheleau@cuvox.de' 'Loring Rocheleau' 'M']
 [132 'MathildeSansouci@superrito.com' 'Mathilde Sansouci' 'F']
 [133 'AmaurySirois@superrito.com' 'Amaury Sirois' 'M']
 [134 'ChristelleLandry@jourrapide.com' 'Christelle Landry' 'F']
 [135 'AdelaideBrousse@gustr.com' 'Adelaide Brousse' 'F']
 [136 'BriceFaure@einrot.com' 'Brice Faure' 'M']
 [137 'AlaineHervieux@rhyta.com' 'Alaine Hervieux' 'F']
 [138 'LanceCroteau@einrot.com' 'Lance Croteau' 'M']
 [139 'AurelieBazinet@dayrep.com' 'Aurelie Bazinet' 'F']
 [140 'AstolphoVeronneau@teleworm.us' 'Astolpho Veronneau' 'M']
 [141 'JolieDeblois@armyspy.com' 'Jolie Deblois' 'F']
 [142 'MireilleParenteau@superrito.com' 'Mireille Parenteau' 'F']
 [143 'ToussaintBrodeur@rhyta.com' 'Toussaint Brodeur' 'M']
 [144 'PorterSimard@armyspy.com' 'Porter Simard' 'M']
 [145 'JeromedeLaunay@fleckens.hu' 'Jeromede Launay' 'M']
 [146 'LowellPatel@rhyta.com' 'Lowell Patel' 'M']
 [147 'GarlandMarcheterre@fleckens.hu' 'Garland Marcheterre' 'F']
 [148 'OlivierAube@armyspy.com' 'Olivier Aube' 'M']
 [149 'FrontinoBrian@einrot.com' 'Frontino Brian' 'M']
 [150 'RochMireault@gustr.com' 'Roch Mireault' 'M']
 [151 'NathalieCormier@cuvox.de' 'Nathalie Cormier' 'F']
 [152 'VallisMainville@gustr.com' 'Vallis Mainville' 'M']
 [153 'DanielleNeufville@teleworm.us' 'Danielle Neufville' 'F']
 [154 'AllyrianeRacine@gustr.com' 'Allyriane Racine' 'F']
 [155 'PierpontFlamand@fleckens.hu' 'Pierpont Flamand' 'M']
 [156 'DanielHuot@rhyta.com' 'Daniel Huot' 'M']
 [157 'HughPoisson@fleckens.hu' 'Hugh Poisson' 'M']
 [158 'YoletteMoreau@dayrep.com' 'Yolette Moreau' 'F']
 [159 'GasparReault@dayrep.com' 'Gaspar Reault' 'M']
 [160 'DelitBisaillon@teleworm.us' 'Delit Bisaillon' 'F']
 [161 'ManonDastous@armyspy.com' 'Manon Dastous' 'F']
 [162 'LoyalFouquet@armyspy.com' 'Loyal Fouquet' 'M']
 [163 'ApollineLaframboise@teleworm.us' 'Apolline Laframboise' 'F']
 [164 'OrielMiron@jourrapide.com' 'Oriel Miron' 'F']
 [165 'LianeLaGarde@cuvox.de' 'Liane La Garde' 'F']
 [166 'AnastasieCroteau@rhyta.com' 'Anastasie Croteau' 'F']
 [167 'VerneyCourse@armyspy.com' 'Verney Course' 'M']
 [168 'VoletaAdler@armyspy.com' 'Voleta Adler' 'F']
 [169 'PlattParent@jourrapide.com' 'Platt Parent' 'M']
 [170 'BlondelleAilleboust@gustr.com' 'Blondelle Ailleboust' 'F']
 [171 'AurelieDesnoyer@armyspy.com' 'Aurelie Desnoyer' 'F']
 [172 'AvelaineGadbois@dayrep.com' 'Avelaine Gadbois' 'F']
 [173 'BriceGrondin@fleckens.hu' 'Brice Grondin' 'M']
 [174 'ZacharieDuplessis@rhyta.com' 'Zacharie Duplessis' 'M']
 [175 'OgierGervais@gustr.com' 'Ogier Gervais' 'M']
 [176 'FusbertaRancourt@rhyta.com' 'Fusberta Rancourt' 'F']
 [177 'CamilleLaurent@superrito.com' 'Camille Laurent' 'F']
 [178 'CeriseMontminy@dayrep.com' 'Cerise Montminy' 'F']
 [179 'JosetteRiquier@armyspy.com' 'Josette Riquier' 'F']
 [180 'AgnesBriard@cuvox.de' 'Agnes Briard' 'F']
 [181 'AvrilRocheleau@fleckens.hu' 'Avril Rocheleau' 'F']
 [182 'BenoitGauvin@teleworm.us' 'Benoit Gauvin' 'M']
 [183 'HeloiseMarcil@fleckens.hu' 'Heloise Marcil' 'F']
 [184 'RolandDupont@einrot.com' 'Roland Dupont' 'M']
 [185 'SolaineLabrecque@fleckens.hu' 'Solaine Labrecque' 'F']
 [186 'JulieBeauchemin@teleworm.us' 'Julie Beauchemin' 'F']
 [187 'KarelDandonneau@dayrep.com' 'Karel Dandonneau' 'M']
 [188 'PaienBeauchesne@rhyta.com' 'Paien Beauchesne' 'M']
 [189 'AdeleClavette@cuvox.de' 'Adele Clavette' 'F']
 [190 'LotyeJodion@fleckens.hu' 'Lotye Jodion' 'F']
 [191 'AmaranteLacroix@fleckens.hu' 'Amarante Lacroix' 'F']
 [192 'XarlesCaisse@jourrapide.com' 'Xarles Caisse' 'M']
 [193 'LealaLemelin@dayrep.com' 'Leala Lemelin' 'F']
 [194 'ChantalLamoureux@jourrapide.com' 'Chantal Lamoureux' 'F']
 [195 'NinetteAdler@superrito.com' 'Ninette Adler' 'F']
 [196 'EmmanuelleLabrie@einrot.com' 'Emmanuelle Labrie' 'F']
 [197 'HuonDeLaRonde@rhyta.com' 'Huon De La Ronde' 'M']
 [198 'SimoneSt-Pierre@jourrapide.com' 'Simone St- Pierre' 'F']
 [199 'PeverellMazuret@dayrep.com' 'Peverell Mazuret' 'M']
 [200 'LorrainePaulet@einrot.com' 'Lorraine Paulet' 'F']
 [201 'DemiLazure@cuvox.de' 'Demi Lazure' 'F']
 [202 'AgramantGrandpre@rhyta.com' 'Agramant Grandpre' 'M']
 [203 'ClothildeBerie@teleworm.us' 'Clothilde Berie' 'F']
 [204 'AimeMarseau@dayrep.com' 'Aime Marseau' 'M']
 [205 'RogerDeLaRonde@gustr.com' 'Roger De La Ronde' 'M']
 [206 'AiglentinaMarcheterre@superrito.com' 'Aiglentina Marcheterre' 'F']
 [207 'NoemiLaisne@rhyta.com' 'Noemi Laisne' 'F']
 [208 'DenisPatenaude@einrot.com' 'Denis Patenaude' 'M']
 [209 'JulienBeriault@rhyta.com' 'Julien Beriault' 'M']
 [210 'MartheQuerry@einrot.com' 'Marthe Querry' 'F']
 [211 'ParfaitBedard@armyspy.com' 'Parfait Bedard' 'M']
 [212 'MandelBarteaux@gustr.com' 'Mandel Barteaux' 'M']
 [213 'PauletteLemaitre@fleckens.hu' 'Paulette Lemaitre' 'F']
 [214 'YoletteLanoie@dayrep.com' 'Yolette Lanoie' 'F']
 [215 'LucilleBaron@superrito.com' 'Lucille Baron' 'F']
 [216 'ChappellSarrazin@rhyta.com' 'Chappell Sarrazin' 'M']
 [217 'GanoHetu@fleckens.hu' 'Gano Hetu' 'M']
 [218 'MinetteRoy@fleckens.hu' 'Minette Roy' 'F']
 [219 'RoslynChalifour@cuvox.de' 'Roslyn Chalifour' 'M']
 [220 'KarelBazinet@einrot.com' 'Karel Bazinet' 'M']
 [221 'JosetteBordeleau@einrot.com' 'Josette Bordeleau' 'F']
 [222 'LangleyCaron@armyspy.com' 'Langley Caron' 'M']
 [223 'ClaudeDandonneau@jourrapide.com' 'Claude Dandonneau' 'F']
 [224 'ApollineMichaud@superrito.com' 'Apolline Michaud' 'F']
 [225 'PascalineBeaudry@rhyta.com' 'Pascaline Beaudry' 'F']
 [226 'FleurCaouette@jourrapide.com' 'Fleur Caouette' 'F']
 [227 'FrancisMasse@jourrapide.com' 'Francis Masse' 'M']]

In [14]:
# On peut ainsi reproduire la manipulation comme avec NumPy
print( clients_array[ clients_array[:, 3] == 'M' ] )

[[0 'LaurentDagenais@rhyta.com' 'Laurent Dagenais' 'M']
 [1 'GuyMarois@fleckens.hu' 'Guy Marois' 'M']
 [2 'BeaufortLesage@einrot.com' 'Beaufort Lesage' 'M']
 [3 'RussellDurand@armyspy.com' 'Russell Durand' 'M']
 [4 'AlexisRiel@rhyta.com' 'Alexis Riel' 'M']
 [5 'LeonLapresse@cuvox.de' 'Leon Lapresse' 'M']
 [6 'OrvilleRouthier@gustr.com' 'Orville Routhier' 'M']
 [7 'AgramantPepin@dayrep.com' 'Agramant Pepin' 'M']
 [9 'TheodoreClavet@teleworm.us' 'Theodore Clavet' 'M']
 [10 'ByronLefebvre@jourrapide.com' 'Byron Lefebvre' 'M']
 [11 'FlorusDevoe@einrot.com' 'Florus Devoe' 'M']
 [12 'NormandArsenault@armyspy.com' 'Normand Arsenault' 'M']
 [14 'GastonBrisette@superrito.com' 'Gaston Brisette' 'M']
 [16 'AgricanFoucault@jourrapide.com' 'Agrican Foucault' 'M']
 [20 'AmauryReault@teleworm.us' 'Amaury Reault' 'M']
 [21 'GillesBeauchamps@superrito.com' 'Gilles Beauchamps' 'M']
 [22 'FranckDumont@gustr.com' 'Franck Dumont' 'M']
 [24 'AlphonseCantin@cuvox.de' 'Alphonse Cantin' 'M']
 [26 'SavilleBernard@armyspy.com' 'Saville Bernard' 'M']
 [32 'ArberGarcia@dayrep.com' 'Arber Garcia' 'M']
 [33 'SaberViens@superrito.com' 'Saber Viens' 'M']
 [34 'ArnaudDubois@rhyta.com' 'Arnaud Dubois' 'M']
 [35 'PryorBeauchamp@dayrep.com' 'Pryor Beauchamp' 'M']
 [36 'AlphonsePotvin@armyspy.com' 'Alphonse Potvin' 'M']
 [37 'FitzLafontaine@dayrep.com' 'Fitz Lafontaine' 'M']
 [40 'SomerPaquette@jourrapide.com' 'Somer Paquette' 'M']
 [42 'GermainHughes@teleworm.us' 'Germain Hughes' 'M']
 [45 'VerneyBedard@dayrep.com' 'Verney Bedard' 'M']
 [46 'IgnaceAudibert@armyspy.com' 'Ignace Audibert' 'M']
 [47 'FranckBinet@superrito.com' 'Franck Binet' 'M']
 [48 'SumnerRocheleau@einrot.com' 'Sumner Rocheleau' 'M']
 [49 'AubertPatel@armyspy.com' 'Aubert Patel' 'M']
 [50 'SumnerLaprise@superrito.com' 'Sumner Laprise' 'M']
 [60 'EdouardLacroix@cuvox.de' 'Edouard Lacroix' 'M']
 [62 'AleronBerard@rhyta.com' 'Aleron Berard' 'M']
 [66 'CourtlandDavid@cuvox.de' 'Courtland David' 'M']
 [68 'EmmanuelLanctot@cuvox.de' 'Emmanuel Lanctot' 'M']
 [74 'FerragusGrimard@cuvox.de' 'Ferragus Grimard' 'M']
 [75 'JeanTollmache@einrot.com' 'Jean Tollmache' 'M']
 [76 'LanceParent@teleworm.us' 'Lance Parent' 'M']
 [77 'CheneyChaloux@cuvox.de' 'Cheney Chaloux' 'M']
 [78 'PierpontLamarre@superrito.com' 'Pierpont Lamarre' 'M']
 [82 'LothairBonenfant@dayrep.com' 'Lothair Bonenfant' 'M']
 [84 'SomerMarleau@cuvox.de' 'Somer Marleau' 'M']
 [86 'OlivierGaillard@superrito.com' 'Olivier Gaillard' 'M']
 [87 'PhilipPinneau@teleworm.us' 'Philip Pinneau' 'M']
 [88 'AlexisLagrange@gustr.com' 'Alexis Lagrange' 'M']
 [90 'DexterDavid@fleckens.hu' 'Dexter David' 'M']
 [91 'JacquesMethot@cuvox.de' 'Jacques Methot' 'M']
 [96 'BenjaminLabrie@fleckens.hu' 'Benjamin Labrie' 'M']
 [100 'ZdenekVadnais@superrito.com' 'Zdenek Vadnais' 'M']
 [101 'LoyalQuenneville@superrito.com' 'Loyal Quenneville' 'M']
 [102 'ErnestTachel@cuvox.de' 'Ernest Tachel' 'M']
 [103 'MatthieuPouchard@teleworm.us' 'Matthieu Pouchard' 'M']
 [104 'SearlasArtois@rhyta.com' 'Searlas Artois' 'M']
 [105 'ArnoLeBatelier@einrot.com' 'Arno Le Batelier' 'M']
 [107 'HarcourtCharpentier@cuvox.de' 'Harcourt Charpentier' 'M']
 [111 'NormandCote@dayrep.com' 'Normand Cote' 'M']
 [115 'RussellRochon@superrito.com' 'Russell Rochon' 'M']
 [119 'EmileVadnais@rhyta.com' 'Emile Vadnais' 'M']
 [121 'JacquesMarcheterre@einrot.com' 'Jacques Marcheterre' 'M']
 [122 'EliotDupuis@gustr.com' 'Eliot Dupuis' 'M']
 [123 'ArthurPlante@jourrapide.com' 'Arthur Plante' 'M']
 [124 'SacripantLabrie@armyspy.com' 'Sacripant Labrie' 'M']
 [126 'ChristianLaberge@armyspy.com' 'Christian Laberge' 'M']
 [127 'VickDavid@gustr.com' 'Vick David' 'M']
 [129 'ClaudeGalarneau@armyspy.com' 'Claude Galarneau' 'M']
 [131 'LoringRocheleau@cuvox.de' 'Loring Rocheleau' 'M']
 [133 'AmaurySirois@superrito.com' 'Amaury Sirois' 'M']
 [136 'BriceFaure@einrot.com' 'Brice Faure' 'M']
 [138 'LanceCroteau@einrot.com' 'Lance Croteau' 'M']
 [140 'AstolphoVeronneau@teleworm.us' 'Astolpho Veronneau' 'M']
 [143 'ToussaintBrodeur@rhyta.com' 'Toussaint Brodeur' 'M']
 [144 'PorterSimard@armyspy.com' 'Porter Simard' 'M']
 [145 'JeromedeLaunay@fleckens.hu' 'Jeromede Launay' 'M']
 [146 'LowellPatel@rhyta.com' 'Lowell Patel' 'M']
 [148 'OlivierAube@armyspy.com' 'Olivier Aube' 'M']
 [149 'FrontinoBrian@einrot.com' 'Frontino Brian' 'M']
 [150 'RochMireault@gustr.com' 'Roch Mireault' 'M']
 [152 'VallisMainville@gustr.com' 'Vallis Mainville' 'M']
 [155 'PierpontFlamand@fleckens.hu' 'Pierpont Flamand' 'M']
 [156 'DanielHuot@rhyta.com' 'Daniel Huot' 'M']
 [157 'HughPoisson@fleckens.hu' 'Hugh Poisson' 'M']
 [159 'GasparReault@dayrep.com' 'Gaspar Reault' 'M']
 [162 'LoyalFouquet@armyspy.com' 'Loyal Fouquet' 'M']
 [167 'VerneyCourse@armyspy.com' 'Verney Course' 'M']
 [169 'PlattParent@jourrapide.com' 'Platt Parent' 'M']
 [173 'BriceGrondin@fleckens.hu' 'Brice Grondin' 'M']
 [174 'ZacharieDuplessis@rhyta.com' 'Zacharie Duplessis' 'M']
 [175 'OgierGervais@gustr.com' 'Ogier Gervais' 'M']
 [182 'BenoitGauvin@teleworm.us' 'Benoit Gauvin' 'M']
 [184 'RolandDupont@einrot.com' 'Roland Dupont' 'M']
 [187 'KarelDandonneau@dayrep.com' 'Karel Dandonneau' 'M']
 [188 'PaienBeauchesne@rhyta.com' 'Paien Beauchesne' 'M']
 [192 'XarlesCaisse@jourrapide.com' 'Xarles Caisse' 'M']
 [197 'HuonDeLaRonde@rhyta.com' 'Huon De La Ronde' 'M']
 [199 'PeverellMazuret@dayrep.com' 'Peverell Mazuret' 'M']
 [202 'AgramantGrandpre@rhyta.com' 'Agramant Grandpre' 'M']
 [204 'AimeMarseau@dayrep.com' 'Aime Marseau' 'M']
 [205 'RogerDeLaRonde@gustr.com' 'Roger De La Ronde' 'M']
 [208 'DenisPatenaude@einrot.com' 'Denis Patenaude' 'M']
 [209 'JulienBeriault@rhyta.com' 'Julien Beriault' 'M']
 [211 'ParfaitBedard@armyspy.com' 'Parfait Bedard' 'M']
 [212 'MandelBarteaux@gustr.com' 'Mandel Barteaux' 'M']
 [216 'ChappellSarrazin@rhyta.com' 'Chappell Sarrazin' 'M']
 [217 'GanoHetu@fleckens.hu' 'Gano Hetu' 'M']
 [219 'RoslynChalifour@cuvox.de' 'Roslyn Chalifour' 'M']
 [220 'KarelBazinet@einrot.com' 'Karel Bazinet' 'M']
 [222 'LangleyCaron@armyspy.com' 'Langley Caron' 'M']
 [227 'FrancisMasse@jourrapide.com' 'Francis Masse' 'M']]

## Manipulation du dataframe

In [15]:
# Afficher le contenu d'une colonne
print(data_csv['email'])

0            LaurentDagenais@rhyta.com
1                GuyMarois@fleckens.hu
2            BeaufortLesage@einrot.com
3            RussellDurand@armyspy.com
4                 AlexisRiel@rhyta.com
                    ...
223    ClaudeDandonneau@jourrapide.com
224      ApollineMichaud@superrito.com
225         PascalineBeaudry@rhyta.com
226       FleurCaouette@jourrapide.com
227        FrancisMasse@jourrapide.com
Name: email, Length: 228, dtype: object

In [16]:
# Afficher le contenu de plusieurs colonnes
print(data_csv[ ['genre', 'email'] ])

    genre                            email
0       M        LaurentDagenais@rhyta.com
1       M            GuyMarois@fleckens.hu
2       M        BeaufortLesage@einrot.com
3       M        RussellDurand@armyspy.com
4       M             AlexisRiel@rhyta.com
..    ...                              ...
223     F  ClaudeDandonneau@jourrapide.com
224     F    ApollineMichaud@superrito.com
225     F       PascalineBeaudry@rhyta.com
226     F     FleurCaouette@jourrapide.com
227     M      FrancisMasse@jourrapide.com

[228 rows x 2 columns]

## Types

In [17]:
# Type Series
print(type(data_csv['email']))
# Type DataFrame
print(type(data_csv[ ['genre', 'email'] ]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

## Manipulation d'un objet Series (une colonne)

In [18]:
# Modification de son contenu
data_csv['email'] = 0
print(data_csv['email'])

0      0
1      0
2      0
3      0
4      0
      ..
223    0
224    0
225    0
226    0
227    0
Name: email, Length: 228, dtype: int64

In [19]:
print(data_csv)

     identifiant  email                nom genre
0              0      0   Laurent Dagenais     M
1              1      0         Guy Marois     M
2              2      0    Beaufort Lesage     M
3              3      0     Russell Durand     M
4              4      0        Alexis Riel     M
..           ...    ...                ...   ...
223          223      0  Claude Dandonneau     F
224          224      0   Apolline Michaud     F
225          225      0  Pascaline Beaudry     F
226          226      0     Fleur Caouette     F
227          227      0      Francis Masse     M

[228 rows x 4 columns]

In [20]:
# Remplacer son contenu par un array de même dimension
data_csv['email'] = np.random.randint(1,1000, data_csv.shape[0])
print(data_csv['email'])

0      225
1        3
2       92
3      506
4      663
      ...
223    992
224    354
225    113
226    305
227    372
Name: email, Length: 228, dtype: int64

In [21]:
# Créer une colonne
data_csv['id'] = data_csv['identifiant'] + 1000
print(data_csv)

     identifiant  email                nom genre    id
0              0    225   Laurent Dagenais     M  1000
1              1      3         Guy Marois     M  1001
2              2     92    Beaufort Lesage     M  1002
3              3    506     Russell Durand     M  1003
4              4    663        Alexis Riel     M  1004
..           ...    ...                ...   ...   ...
223          223    992  Claude Dandonneau     F  1223
224          224    354   Apolline Michaud     F  1224
225          225    113  Pascaline Beaudry     F  1225
226          226    305     Fleur Caouette     F  1226
227          227    372      Francis Masse     M  1227

[228 rows x 5 columns]

In [22]:
# Supprimer une colonne

# Drop renvoie une copie du dataframe, ne supprime pas directement la colonne sur le dataframe d'origine
df_copy = data_csv.drop(columns='id')
print(df_copy)

     identifiant  email                nom genre
0              0    225   Laurent Dagenais     M
1              1      3         Guy Marois     M
2              2     92    Beaufort Lesage     M
3              3    506     Russell Durand     M
4              4    663        Alexis Riel     M
..           ...    ...                ...   ...
223          223    992  Claude Dandonneau     F
224          224    354   Apolline Michaud     F
225          225    113  Pascaline Beaudry     F
226          226    305     Fleur Caouette     F
227          227    372      Francis Masse     M

[228 rows x 4 columns]

In [23]:
print(data_csv)

     identifiant  email                nom genre    id
0              0    225   Laurent Dagenais     M  1000
1              1      3         Guy Marois     M  1001
2              2     92    Beaufort Lesage     M  1002
3              3    506     Russell Durand     M  1003
4              4    663        Alexis Riel     M  1004
..           ...    ...                ...   ...   ...
223          223    992  Claude Dandonneau     F  1223
224          224    354   Apolline Michaud     F  1224
225          225    113  Pascaline Beaudry     F  1225
226          226    305     Fleur Caouette     F  1226
227          227    372      Francis Masse     M  1227

[228 rows x 5 columns]

In [24]:
# Si on est certain de la suppression alors on l'impacte sur le df d'origine
data_csv = df_copy
print(data_csv)

     identifiant  email                nom genre
0              0    225   Laurent Dagenais     M
1              1      3         Guy Marois     M
2              2     92    Beaufort Lesage     M
3              3    506     Russell Durand     M
4              4    663        Alexis Riel     M
..           ...    ...                ...   ...
223          223    992  Claude Dandonneau     F
224          224    354   Apolline Michaud     F
225          225    113  Pascaline Beaudry     F
226          226    305     Fleur Caouette     F
227          227    372      Francis Masse     M

[228 rows x 4 columns]

In [25]:
# On peut également supprimer une colonne de la façon suivante : 
del data_csv['genre']
print(data_csv)

     identifiant  email                nom
0              0    225   Laurent Dagenais
1              1      3         Guy Marois
2              2     92    Beaufort Lesage
3              3    506     Russell Durand
4              4    663        Alexis Riel
..           ...    ...                ...
223          223    992  Claude Dandonneau
224          224    354   Apolline Michaud
225          225    113  Pascaline Beaudry
226          226    305     Fleur Caouette
227          227    372      Francis Masse

[228 rows x 3 columns]

In [26]:
# Ou alors de cette manière
data_csv.pop('email')
print(data_csv)

     identifiant                nom
0              0   Laurent Dagenais
1              1         Guy Marois
2              2    Beaufort Lesage
3              3     Russell Durand
4              4        Alexis Riel
..           ...                ...
223          223  Claude Dandonneau
224          224   Apolline Michaud
225          225  Pascaline Beaudry
226          226     Fleur Caouette
227          227      Francis Masse

[228 rows x 2 columns]

<div class="alert alert-info" >L'utilisation de <b>del</b> ou de <b>.pop()</b> impacte directement le dataframe comparé à <b>.drop()</b> qui lui retourne une copie du df avec la modification.</div>

In [27]:
# On reinitialise le data_csv avec toutes ses colonnes
data_csv = data_json

# Le paramètre columns de la méthode .rename() attend un dictionnaire avec key : ancien nom et value : nouveau nom
# Par exemple ici 'identifiant' correspond à l'ancien nom et 'id' correspond au nouveau nom
df_copy = data_csv.rename(columns={'identifiant' :'id'})
print(df_copy)

      id                            email                nom genre
0      0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1      1            GuyMarois@fleckens.hu         Guy Marois     M
2      2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3      3        RussellDurand@armyspy.com     Russell Durand     M
4      4             AlexisRiel@rhyta.com        Alexis Riel     M
..   ...                              ...                ...   ...
223  223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224  224    ApollineMichaud@superrito.com   Apolline Michaud     F
225  225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226  226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227  227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

In [28]:
print(data_csv)

     identifiant                            email                nom genre
0              0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1              1            GuyMarois@fleckens.hu         Guy Marois     M
2              2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3              3        RussellDurand@armyspy.com     Russell Durand     M
4              4             AlexisRiel@rhyta.com        Alexis Riel     M
..           ...                              ...                ...   ...
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

In [29]:
# Comme avec la méthode .drop(), .rename() ne modifie pas directement le dataframne, il renvoie une copie

# Permet de modifier directement le dataframe sans retourner de copie
data_csv.rename(columns={'identifiant' :'id'}, inplace=True)
print(data_csv)

      id                            email                nom genre
0      0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1      1            GuyMarois@fleckens.hu         Guy Marois     M
2      2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3      3        RussellDurand@armyspy.com     Russell Durand     M
4      4             AlexisRiel@rhyta.com        Alexis Riel     M
..   ...                              ...                ...   ...
223  223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224  224    ApollineMichaud@superrito.com   Apolline Michaud     F
225  225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226  226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227  227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

In [30]:
# Si plusieurs colonnes
data_csv.rename(columns={'identifiant' :'id', 'genre' : 'sex', 'nom' : 'name'}, inplace=True)
print(data_csv)

      id                            email               name sex
0      0        LaurentDagenais@rhyta.com   Laurent Dagenais   M
1      1            GuyMarois@fleckens.hu         Guy Marois   M
2      2        BeaufortLesage@einrot.com    Beaufort Lesage   M
3      3        RussellDurand@armyspy.com     Russell Durand   M
4      4             AlexisRiel@rhyta.com        Alexis Riel   M
..   ...                              ...                ...  ..
223  223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau   F
224  224    ApollineMichaud@superrito.com   Apolline Michaud   F
225  225       PascalineBeaudry@rhyta.com  Pascaline Beaudry   F
226  226     FleurCaouette@jourrapide.com     Fleur Caouette   F
227  227      FrancisMasse@jourrapide.com      Francis Masse   M

[228 rows x 4 columns]

In [31]:
# Changer le type d'une colonne
data_csv['id'] = data_csv['id'].astype(float)
print(data_csv)

        id                            email               name sex
0      0.0        LaurentDagenais@rhyta.com   Laurent Dagenais   M
1      1.0            GuyMarois@fleckens.hu         Guy Marois   M
2      2.0        BeaufortLesage@einrot.com    Beaufort Lesage   M
3      3.0        RussellDurand@armyspy.com     Russell Durand   M
4      4.0             AlexisRiel@rhyta.com        Alexis Riel   M
..     ...                              ...                ...  ..
223  223.0  ClaudeDandonneau@jourrapide.com  Claude Dandonneau   F
224  224.0    ApollineMichaud@superrito.com   Apolline Michaud   F
225  225.0       PascalineBeaudry@rhyta.com  Pascaline Beaudry   F
226  226.0     FleurCaouette@jourrapide.com     Fleur Caouette   F
227  227.0      FrancisMasse@jourrapide.com      Francis Masse   M

[228 rows x 4 columns]

In [32]:
# Trier par ordre croissant
print(data_csv.sort_values('id'))

        id                            email               name sex
0      0.0        LaurentDagenais@rhyta.com   Laurent Dagenais   M
1      1.0            GuyMarois@fleckens.hu         Guy Marois   M
2      2.0        BeaufortLesage@einrot.com    Beaufort Lesage   M
3      3.0        RussellDurand@armyspy.com     Russell Durand   M
4      4.0             AlexisRiel@rhyta.com        Alexis Riel   M
..     ...                              ...                ...  ..
223  223.0  ClaudeDandonneau@jourrapide.com  Claude Dandonneau   F
224  224.0    ApollineMichaud@superrito.com   Apolline Michaud   F
225  225.0       PascalineBeaudry@rhyta.com  Pascaline Beaudry   F
226  226.0     FleurCaouette@jourrapide.com     Fleur Caouette   F
227  227.0      FrancisMasse@jourrapide.com      Francis Masse   M

[228 rows x 4 columns]

In [33]:
# Trier par ordre décroissant
print(data_csv.sort_values('id', ascending = False))

        id                            email               name sex
227  227.0      FrancisMasse@jourrapide.com      Francis Masse   M
226  226.0     FleurCaouette@jourrapide.com     Fleur Caouette   F
225  225.0       PascalineBeaudry@rhyta.com  Pascaline Beaudry   F
224  224.0    ApollineMichaud@superrito.com   Apolline Michaud   F
223  223.0  ClaudeDandonneau@jourrapide.com  Claude Dandonneau   F
..     ...                              ...                ...  ..
4      4.0             AlexisRiel@rhyta.com        Alexis Riel   M
3      3.0        RussellDurand@armyspy.com     Russell Durand   M
2      2.0        BeaufortLesage@einrot.com    Beaufort Lesage   M
1      1.0            GuyMarois@fleckens.hu         Guy Marois   M
0      0.0        LaurentDagenais@rhyta.com   Laurent Dagenais   M

[228 rows x 4 columns]

In [34]:
# Trier sur plusieurs colonnes
# Ici on trie sur la colonne name et id où le tri est décroissant sur le name et croissant sur l'id
print(data_csv.sort_values(['name', 'id'], ascending = [False, True]))

        id                         email                name sex
53    53.0       ZurieTheberge@gustr.com      Zurie Theberge   F
112  112.0          ZoeLeclair@gustr.com         Zoe Leclair   F
100  100.0   ZdenekVadnais@superrito.com      Zdenek Vadnais   M
174  174.0   ZacharieDuplessis@rhyta.com  Zacharie Duplessis   M
64    64.0          YvetteDAvis@cuvox.de       Yvette D Avis   F
..     ...                           ...                 ...  ..
180  180.0          AgnesBriard@cuvox.de        Agnes Briard   F
15    15.0      AgateGrandbois@gustr.com     Agate Grandbois   F
189  189.0        AdeleClavette@cuvox.de      Adele Clavette   F
135  135.0     AdelaideBrousse@gustr.com    Adelaide Brousse   F
13    13.0  AcelineHughes@jourrapide.com      Aceline Hughes   F

[228 rows x 4 columns]

## Restriction / Filtrage
#### iloc

In [35]:
# Récupération du nom ( colonne 2) du premier client ( ligne 0)
print(data_csv.iloc[0,2])

Laurent Dagenais

In [36]:
# Récupération du nom pour les 10 premiers
print(data_csv.iloc[:5, 2])

0    Laurent Dagenais
1          Guy Marois
2     Beaufort Lesage
3      Russell Durand
4         Alexis Riel
Name: name, dtype: object

In [37]:
# Récupération de l'email et du genre des 10 derniers clients
print(data_csv.iloc[-10:, [1,3]])

                               email sex
218           MinetteRoy@fleckens.hu   F
219         RoslynChalifour@cuvox.de   M
220          KarelBazinet@einrot.com   M
221      JosetteBordeleau@einrot.com   F
222         LangleyCaron@armyspy.com   M
223  ClaudeDandonneau@jourrapide.com   F
224    ApollineMichaud@superrito.com   F
225       PascalineBeaudry@rhyta.com   F
226     FleurCaouette@jourrapide.com   F
227      FrancisMasse@jourrapide.com   M

#### loc

In [38]:
data_pret.head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014

In [39]:
# Récupérer en fonction d'une valeur d'un champ (comme un select * from t where type="automobile" )
print(data_pret.loc[ data_pret['type'] == 'automobile' ])

     identifiant      ville     CP  revenu  remboursement  duree        type  \
1              1      PARIS  75009  5310.0          240.0     64  automobile
65            63       NICE   6300  4114.0          302.9     24  automobile
67            64       LYON  69004  4326.0          236.1     46  automobile
87            83   TOULOUSE  31000  2207.0          253.3     60  automobile
100           95      PARIS  75016  6069.0          341.4     24  automobile
106          101       LYON  69008  4737.0          214.8     47  automobile
120          113  MARSEILLE  13006  2314.0          253.2     49  automobile
132          124       NICE   6000  3493.0          309.9     56  automobile
141          133      PARIS  75011  3099.0          291.2     78  automobile
154          144  MARSEILLE  13010  2240.0          316.6     81  automobile
158          147  MARSEILLE  13015  1288.0          269.8     30  automobile
159          148   TOULOUSE  31000  1872.0          250.5     80  automobile
172          159      PARIS  75010  3238.0          315.8     55  automobile
209          195       LYON  69006  2468.0          337.9     38  automobile
225          211   TOULOUSE  31400  3724.0          215.0     43  automobile
240          224      PARIS  75008  5118.0          238.2     25  automobile

      taux
1    3.701
65   3.092
67   3.124
87   2.975
100  3.644
106  3.487
120  2.954
132  3.012
141  3.508
154  3.267
158  3.314
159  3.519
172  2.995
209  3.472
225  3.374
240  3.423

In [40]:
# Récupérer en fonction d'une valeur d'un champ (comme un select identifiant from t where type="automobile" )
print(data_pret.loc[ data_pret['type'] == 'automobile', 'identifiant' ])

1        1
65      63
67      64
87      83
100     95
106    101
120    113
132    124
141    133
154    144
158    147
159    148
172    159
209    195
225    211
240    224
Name: identifiant, dtype: int64

In [41]:
# Récupérer en fonction d'une valeur d'un champ (comme un select identifiant, revenu from t where type="automobile" )
print(data_pret.loc[ data_pret['type'] == 'automobile', ['identifiant', 'revenu'] ])

     identifiant  revenu
1              1  5310.0
65            63  4114.0
67            64  4326.0
87            83  2207.0
100           95  6069.0
106          101  4737.0
120          113  2314.0
132          124  3493.0
141          133  3099.0
154          144  2240.0
158          147  1288.0
159          148  1872.0
172          159  3238.0
209          195  2468.0
225          211  3724.0
240          224  5118.0

In [42]:
# Récupérer en fonction d'une valeur d'un champ (comme un select identifiant, revenu from t where type="automobile" and revenu > 4000)
print(data_pret.loc[ (data_pret['type'] == 'automobile') & (data_pret['revenu'] > 4000) , ['identifiant', 'revenu'] ])

     identifiant  revenu
1              1  5310.0
65            63  4114.0
67            64  4326.0
100           95  6069.0
106          101  4737.0
240          224  5118.0

In [43]:
# Récupérer en fonction d'une valeur d'un champ (comme un select identifiant, revenu from t where type="automobile" or revenu > 4000)
print(data_pret.loc[ (data_pret['type'] == 'automobile') | (data_pret['revenu'] > 4000) , ['identifiant', 'revenu'] ])

     identifiant  revenu
1              1  5310.0
2              1  5310.0
8              7  5486.0
16            15  4109.0
17            16  6118.0
..           ...     ...
234          219  6257.0
236          221  4477.0
239          224  5118.0
240          224  5118.0
242          226  5098.0

[73 rows x 2 columns]

In [44]:
data_pret.sort_values('ville').head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
85,82,BORDEAUX,33000,3134.0,1131.37,240,immobilier,1.237
84,81,BORDEAUX,33100,2930.0,961.04,240,immobilier,1.166
91,87,BORDEAUX,33800,2995.0,658.90,300,immobilier,1.257
105,100,BORDEAUX,33100,3636.0,1148.98,240,immobilier,1.187
12,11,BORDEAUX,33200,3346.0,1013.84,240,immobilier,1.199

In [45]:
# Récupération des lignes du df de l'index 84 à 90
print(data_pret.loc[84:90, :])

    identifiant      ville     CP  revenu  remboursement  duree        type  \
84           81   BORDEAUX  33100  2930.0         961.04    240  immobilier
85           82   BORDEAUX  33000  3134.0        1131.37    240  immobilier
86           83   TOULOUSE  31000  2207.0         412.71    180  immobilier
87           83   TOULOUSE  31000  2207.0         253.30     60  automobile
88           84  MARSEILLE  13009  1738.0         531.83    240  immobilier
89           85      PARIS  75005  6341.0        2980.27    240  immobilier
90           86  MARSEILLE  13010  1320.0         234.96    180  immobilier

     taux
84  1.166
85  1.237
86  1.217
87  2.975
88  1.170
89  1.074
90  1.157

In [46]:
# Récupération des lignes du df de l'index 84 à 90 mais après avoir fait un tri. 
# Ici on récupère "toutes" les lignes entre 84 et 90 mais si celles-ci ne sont pas compris de façon logique dans l'intervalle [84 <-> 90]
print(data_pret.sort_values('ville').loc[84:90, :])

     identifiant      ville     CP  revenu  remboursement  duree        type  \
84            81   BORDEAUX  33100  2930.0         961.04    240  immobilier
91            87   BORDEAUX  33800  2995.0         658.90    300  immobilier
105          100   BORDEAUX  33100  3636.0        1148.98    240  immobilier
12            11   BORDEAUX  33200  3346.0        1013.84    240  immobilier
33            32   BORDEAUX  33200  3419.0        1196.65    180  immobilier
..           ...        ...    ...     ...            ...    ...         ...
20            19  MARSEILLE  13015  1575.0         346.50    240  immobilier
235          220  MARSEILLE  13001  2560.0         896.00    300  immobilier
210          196  MARSEILLE  13012  1735.0         270.66    240  immobilier
213          199  MARSEILLE  13002  2840.0         488.48    120  immobilier
90            86  MARSEILLE  13010  1320.0         234.96    180  immobilier

      taux
84   1.166
91   1.257
105  1.187
12   1.199
33   1.222
..     ...
20   1.200
235  1.102
210  1.195
213  1.147
90   1.157

[93 rows x 8 columns]

In [47]:
# Récupération des lignes du df de l'index 84 à 90 mais après avoir fait un tri. 
# Il faut penser à effectuer un reset des indexs avant de faire le filtrage suite à un tri
print(data_pret.sort_values('ville').reset_index().loc[84:90, :])

    index  identifiant      ville     CP  revenu  remboursement  duree  \
84    182          169  MARSEILLE  13011  2210.0         663.00    240
85    140          132  MARSEILLE  13015  1663.0         463.98    180
86    138          130  MARSEILLE  13007  2631.0        1473.36    240
87    185          172  MARSEILLE  13009  2799.0        1072.02    240
88    130          123  MARSEILLE  13013  1291.0         224.63    180
89     20           19  MARSEILLE  13015  1575.0         346.50    240
90    235          220  MARSEILLE  13001  2560.0         896.00    300

          type   taux
84  immobilier  1.173
85  immobilier  1.171
86  immobilier  1.086
87  immobilier  1.171
88  immobilier  1.100
89  immobilier  1.200
90  immobilier  1.102

## Modifier un DataFrame

In [48]:
# Modifier le taux des 3 premières lignes
data_pret.iloc[:3, 7] = 1.05
data_pret.head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.050
1,1,PARIS,75009,5310.0,240.00,64,automobile,1.050
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.050
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014

In [49]:
data_pret.loc[ data_pret['ville'] == 'PARIS' , 'taux'] = 1.02
data_pret.head(15)

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.050
1,1,PARIS,75009,5310.0,240.00,64,automobile,1.020
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.020
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014
5,4,MARSEILLE,13012,1476.0,423.61,240,immobilier,1.209
6,5,PARIS,75016,2476.0,836.89,240,immobilier,1.020
7,6,LYON,69008,1867.0,711.33,240,immobilier,1.196
8,7,NICE,6000,5486.0,2956.95,300,immobilier,1.184
9,8,BORDEAUX,33200,3578.0,751.38,180,immobilier,1.316
10,9,MARSEILLE,13012,1386.0,612.61,180,immobilier,1.284
11,10,PARIS,75011,2293.0,378.34,240,immobilier,1.020
12,11,BORDEAUX,33200,3346.0,1013.84,240,immobilier,1.199
13,12,MARSEILLE,13006,1597.0,428.00,120,immobilier,1.085
14,13,MARSEILLE,13016,2556.0,393.62,300,immobilier,1.220

In [50]:
# Incrémenter une valeur pour certain enregistrement 

mask = data_pret['ville'] == 'MARSEILLE'
data_pret.loc[ mask, 'taux' ] = data_pret.loc[ mask, 'taux' ] + 0.05
print(data_pret.head(15))

    identifiant      ville     CP  revenu  remboursement  duree        type  \
0             0   TOULOUSE  31100  3669.0        1130.05    240  immobilier
1             1      PARIS  75009  5310.0         240.00     64  automobile
2             1      PARIS  75009  5310.0        1247.85    300  immobilier
3             2  MARSEILLE  13010  1873.0         552.54    240  immobilier
4             3  MARSEILLE  13010  1684.0         586.03    180  immobilier
5             4  MARSEILLE  13012  1476.0         423.61    240  immobilier
6             5      PARIS  75016  2476.0         836.89    240  immobilier
7             6       LYON  69008  1867.0         711.33    240  immobilier
8             7       NICE   6000  5486.0        2956.95    300  immobilier
9             8   BORDEAUX  33200  3578.0         751.38    180  immobilier
10            9  MARSEILLE  13012  1386.0         612.61    180  immobilier
11           10      PARIS  75011  2293.0         378.34    240  immobilier
12           11   BORDEAUX  33200  3346.0        1013.84    240  immobilier
13           12  MARSEILLE  13006  1597.0         428.00    120  immobilier
14           13  MARSEILLE  13016  2556.0         393.62    300  immobilier

     taux
0   1.050
1   1.020
2   1.020
3   1.022
4   1.064
5   1.259
6   1.020
7   1.196
8   1.184
9   1.316
10  1.334
11  1.020
12  1.199
13  1.135
14  1.270

## Agrégation

In [51]:
# Revenu total par ville
print(data_pret.loc[:, ['ville', 'revenu']].groupby('ville').sum())

             revenu
ville
BORDEAUX    50816.0
LYON        95354.0
MARSEILLE  145926.0
NICE        85288.0
PARIS      335459.0
TOULOUSE    75617.0

In [52]:
# Autre façon d'afficher uniquement la somme sur la colonne 'revenu'
print(data_pret.groupby('ville')['revenu'].sum())

ville
BORDEAUX      50816.0
LYON          95354.0
MARSEILLE    145926.0
NICE          85288.0
PARIS        335459.0
TOULOUSE      75617.0
Name: revenu, dtype: float64

In [53]:
# Revenu total par ville et par type
print(data_pret.loc[:, ['ville', 'type', 'revenu']].groupby(['ville', 'type']).sum())

                        revenu
ville     type
BORDEAUX  immobilier   50816.0
LYON      automobile   11531.0
          immobilier   83823.0
MARSEILLE automobile    5842.0
          immobilier  140084.0
NICE      automobile    7607.0
          immobilier   77681.0
PARIS     automobile   22834.0
          immobilier  312625.0
TOULOUSE  automobile    7803.0
          immobilier   67814.0

In [54]:
# Obtenir plusieur infos différentes sur plusieurs colonne en même temps
print(data_pret.groupby('ville').agg({ 'remboursement' : ['sum', 'mean'], 'revenu' : 'max' }))

          remboursement               revenu
                    sum         mean     max
ville
BORDEAUX       15330.59   958.161875  3691.0
LYON           26064.67   930.881071  4771.0
MARSEILLE      40895.72   545.276267  2962.0
NICE           23544.24  1121.154286  5987.0
PARIS          94052.61  1221.462468  6807.0
TOULOUSE       19286.18   714.302963  3993.0

In [55]:
data_pret.groupby(['ville', 'type'])['remboursement'].sum()

ville      type
BORDEAUX   immobilier    15330.59
LYON       automobile      788.80
           immobilier    25275.87
MARSEILLE  automobile      839.60
           immobilier    40056.12
NICE       automobile      612.80
           immobilier    22931.44
PARIS      automobile     1426.60
           immobilier    92626.01
TOULOUSE   automobile      718.80
           immobilier    18567.38
Name: remboursement, dtype: float64

In [56]:
# On converti au format tableau deux dimensions
data = data_pret.pivot_table(index='ville', columns='type', values='remboursement', aggfunc='sum')
data

type       automobile  immobilier
ville
BORDEAUX          NaN    15330.59
LYON            788.8    25275.87
MARSEILLE       839.6    40056.12
NICE            612.8    22931.44
PARIS          1426.6    92626.01
TOULOUSE        718.8    18567.38

In [57]:
# Accès à une ligne et une colonne après avoir pivoté le tableau
print(data.loc['NICE', 'automobile'])

612.8

In [58]:
# On reset les indexs
data = data.reset_index()
data

type      ville  automobile  immobilier
0      BORDEAUX         NaN    15330.59
1          LYON       788.8    25275.87
2     MARSEILLE       839.6    40056.12
3          NICE       612.8    22931.44
4         PARIS      1426.6    92626.01
5      TOULOUSE       718.8    18567.38

In [59]:
# Accès à une ligne
print(data.loc[ data['ville'] == 'LYON' ])

type ville  automobile  immobilier
1     LYON       788.8    25275.87

In [60]:
# Pour effectuer une pivoter inverse
data.melt(id_vars="ville", value_vars=['automobile', 'immobilier'])

        ville        type     value
0    BORDEAUX  automobile       NaN
1        LYON  automobile    788.80
2   MARSEILLE  automobile    839.60
3        NICE  automobile    612.80
4       PARIS  automobile   1426.60
5    TOULOUSE  automobile    718.80
6    BORDEAUX  immobilier  15330.59
7        LYON  immobilier  25275.87
8   MARSEILLE  immobilier  40056.12
9        NICE  immobilier  22931.44
10      PARIS  immobilier  92626.01
11   TOULOUSE  immobilier  18567.38

## Merge

In [61]:
file_prets_a = os.path.join('resources') + '/prets-a.csv'
file_prets_b = os.path.join('resources') + '/prets-b.csv'
A = pd.read_csv(file_prets_a)
B = pd.read_csv(file_prets_b)

In [62]:
# Si des attributs sont en commun un _x et _y est ajouté par défaut pour visualiser l'effet de la jointure
merged = pd.merge(A, B, on='identifiant')
merged

,identifiant,ville_x,CP_x,revenu_x,remboursement_x,duree_x,type_x,taux_x,ville_y,CP_y,revenu_y,remboursement_y,duree_y,type_y,taux_y
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,PARIS,75009,5310.0,240.00,64,automobile,3.701,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173,PARIS,75009,5310.0,240.00,64,automobile,3.701
4,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,224,PARIS,75008,5118.0,238.20,25,automobile,3.423,PARIS,75008,5118.0,1248.79,300,immobilier,1.206
272,224,PARIS,75008,5118.0,238.20,25,automobile,3.423,PARIS,75008,5118.0,238.20,25,automobile,3.423
273,225,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172
274,226,PARIS,75002,5098.0,2910.96,240,immobilier,1.140,PARIS,75002,5098.0,2910.96,240,immobilier,1.140
275,227,PARIS,75015,2348.0,434.38,300,immobilier,1.157,PARIS,75015,2348.0,434.38,300,immobilier,1.157

In [63]:
data_csv = pd.read_csv(file_csv)
print(data_csv.shape, data_pret.shape)

(228, 4) (244, 8)

In [64]:
# Dans un contexte concret où un identifiant est utilisé dans deux fichiers différents
data = pd.merge(data_csv, data_pret, on="identifiant")
data

,identifiant,email,nom,genre,ville,CP,revenu,remboursement,duree,type,taux
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.050
1,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,240.00,64,automobile,1.020
2,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,1247.85,300,immobilier,1.020
3,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,MARSEILLE,13010,1873.0,552.54,240,immobilier,1.022
4,3,RussellDurand@armyspy.com,Russell Durand,M,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.064
...,...,...,...,...,...,...,...,...,...,...,...
239,224,ApollineMichaud@superrito.com,Apolline Michaud,F,PARIS,75008,5118.0,1248.79,300,immobilier,1.020
240,224,ApollineMichaud@superrito.com,Apolline Michaud,F,PARIS,75008,5118.0,238.20,25,automobile,1.020
241,225,PascalineBeaudry@rhyta.com,Pascaline Beaudry,F,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172
242,226,FleurCaouette@jourrapide.com,Fleur Caouette,F,PARIS,75002,5098.0,2910.96,240,immobilier,1.020
243,227,FrancisMasse@jourrapide.com,Francis Masse,M,PARIS,75015,2348.0,434.38,300,immobilier,1.020

In [65]:
# Syntaxe à utiliser si au  cas où la clé de la jointure porte un nom différent
data = pd.merge(data_csv, data_pret, left_on="identifiant", right_on="identifiant")
data

,identifiant,email,nom,genre,ville,CP,revenu,remboursement,duree,type,taux
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.050
1,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,240.00,64,automobile,1.020
2,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,1247.85,300,immobilier,1.020
3,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,MARSEILLE,13010,1873.0,552.54,240,immobilier,1.022
4,3,RussellDurand@armyspy.com,Russell Durand,M,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.064
...,...,...,...,...,...,...,...,...,...,...,...
239,224,ApollineMichaud@superrito.com,Apolline Michaud,F,PARIS,75008,5118.0,1248.79,300,immobilier,1.020
240,224,ApollineMichaud@superrito.com,Apolline Michaud,F,PARIS,75008,5118.0,238.20,25,automobile,1.020
241,225,PascalineBeaudry@rhyta.com,Pascaline Beaudry,F,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172
242,226,FleurCaouette@jourrapide.com,Fleur Caouette,F,PARIS,75002,5098.0,2910.96,240,immobilier,1.020
243,227,FrancisMasse@jourrapide.com,Francis Masse,M,PARIS,75015,2348.0,434.38,300,immobilier,1.020

## Type de jointure

In [66]:
# Jointure interne
# On garde uniquement les lignes qui ont une correspondance entre les deux df
data = pd.merge(data_csv, data_pret, left_on="identifiant", right_on="identifiant", how="inner")
data

,identifiant,email,nom,genre,ville,CP,revenu,remboursement,duree,type,taux
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.050
1,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,240.00,64,automobile,1.020
2,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,1247.85,300,immobilier,1.020
3,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,MARSEILLE,13010,1873.0,552.54,240,immobilier,1.022
4,3,RussellDurand@armyspy.com,Russell Durand,M,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.064
...,...,...,...,...,...,...,...,...,...,...,...
239,224,ApollineMichaud@superrito.com,Apolline Michaud,F,PARIS,75008,5118.0,1248.79,300,immobilier,1.020
240,224,ApollineMichaud@superrito.com,Apolline Michaud,F,PARIS,75008,5118.0,238.20,25,automobile,1.020
241,225,PascalineBeaudry@rhyta.com,Pascaline Beaudry,F,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172
242,226,FleurCaouette@jourrapide.com,Fleur Caouette,F,PARIS,75002,5098.0,2910.96,240,immobilier,1.020
243,227,FrancisMasse@jourrapide.com,Francis Masse,M,PARIS,75015,2348.0,434.38,300,immobilier,1.020

In [67]:
# Jointure à gauche
# Conserve forcément toutes les clés qui se trouvent dans la première table, et complète, lorsqu’elle le peut, 
# avec les informations de la seconde table.
data = pd.merge(data_csv, data_pret, left_on="email", right_on="type", how="left")
data

,identifiant_x,email,nom,genre,identifiant_y,ville,CP,revenu,remboursement,duree,type,taux
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,GuyMarois@fleckens.hu,Guy Marois,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,RussellDurand@armyspy.com,Russell Durand,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,AlexisRiel@rhyta.com,Alexis Riel,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
223,223,ClaudeDandonneau@jourrapide.com,Claude Dandonneau,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,224,ApollineMichaud@superrito.com,Apolline Michaud,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,225,PascalineBeaudry@rhyta.com,Pascaline Beaudry,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,226,FleurCaouette@jourrapide.com,Fleur Caouette,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,227,FrancisMasse@jourrapide.com,Francis Masse,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# Jointure droite
# Conserve forcément toutes les clés qui se trouvent dans la seconde table, et complète, lorsqu’elle le peut, 
# avec les informations de la première table.
data = pd.merge(data_csv, data_pret, left_on="email", right_on="type", how="right")
data

,identifiant_x,email,nom,genre,identifiant_y,ville,CP,revenu,remboursement,duree,type,taux
0,NaN,NaN,NaN,NaN,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.050
1,NaN,NaN,NaN,NaN,1,PARIS,75009,5310.0,240.00,64,automobile,1.020
2,NaN,NaN,NaN,NaN,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.020
3,NaN,NaN,NaN,NaN,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,1.022
4,NaN,NaN,NaN,NaN,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.064
...,...,...,...,...,...,...,...,...,...,...,...,...
239,NaN,NaN,NaN,NaN,224,PARIS,75008,5118.0,1248.79,300,immobilier,1.020
240,NaN,NaN,NaN,NaN,224,PARIS,75008,5118.0,238.20,25,automobile,1.020
241,NaN,NaN,NaN,NaN,225,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172
242,NaN,NaN,NaN,NaN,226,PARIS,75002,5098.0,2910.96,240,immobilier,1.020
243,NaN,NaN,NaN,NaN,227,PARIS,75015,2348.0,434.38,300,immobilier,1.020

In [69]:
# Jointure externe
# conserve TOUTES les clés trouvées, que ce soit à gauche ou à droite, et on bouche les informations 
# manquantes par des valeurs manquantes
data = pd.merge(data_csv, data_pret, left_on="email", right_on="type", how="outer")
data

,identifiant_x,email,nom,genre,identifiant_y,ville,CP,revenu,remboursement,duree,type,taux
0,13.0,AcelineHughes@jourrapide.com,Aceline Hughes,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,135.0,AdelaideBrousse@gustr.com,Adelaide Brousse,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,189.0,AdeleClavette@cuvox.de,Adele Clavette,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15.0,AgateGrandbois@gustr.com,Agate Grandbois,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,180.0,AgnesBriard@cuvox.de,Agnes Briard,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
467,NaN,NaN,NaN,NaN,223.0,PARIS,75009.0,2127.0,672.13,240.0,immobilier,1.020
468,NaN,NaN,NaN,NaN,224.0,PARIS,75008.0,5118.0,1248.79,300.0,immobilier,1.020
469,NaN,NaN,NaN,NaN,225.0,BORDEAUX,33100.0,2356.0,876.43,180.0,immobilier,1.172
470,NaN,NaN,NaN,NaN,226.0,PARIS,75002.0,5098.0,2910.96,240.0,immobilier,1.020
471,NaN,NaN,NaN,NaN,227.0,PARIS,75015.0,2348.0,434.38,300.0,immobilier,1.020

## Concaténation

In [70]:
list_concat = [A, B]

# Attention doublons des index
pd.concat(list_concat)

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014
...,...,...,...,...,...,...,...,...
239,224,PARIS,75008,5118.0,1248.79,300,immobilier,1.206
240,224,PARIS,75008,5118.0,238.20,25,automobile,3.423
241,225,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172
242,226,PARIS,75002,5098.0,2910.96,240,immobilier,1.140
243,227,PARIS,75015,2348.0,434.38,300,immobilier,1.157

In [71]:
# Correction des index
pd.concat(list_concat, ignore_index=True)

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014
...,...,...,...,...,...,...,...,...
483,224,PARIS,75008,5118.0,1248.79,300,immobilier,1.206
484,224,PARIS,75008,5118.0,238.20,25,automobile,3.423
485,225,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172
486,226,PARIS,75002,5098.0,2910.96,240,immobilier,1.140
487,227,PARIS,75015,2348.0,434.38,300,immobilier,1.157

## Copier un dataframe

In [72]:
X = A.copy()
X

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014
...,...,...,...,...,...,...,...,...
239,224,PARIS,75008,5118.0,1248.79,300,immobilier,1.206
240,224,PARIS,75008,5118.0,238.20,25,automobile,3.423
241,225,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172
242,226,PARIS,75002,5098.0,2910.96,240,immobilier,1.140
243,227,PARIS,75015,2348.0,434.38,300,immobilier,1.157