# Memento sur Python

## Les variables

note : Toutes les variables sont des objets.

In [241]:
v_string = "Hello"
v_string2 = 'World'
v_boolean = False
v_integer = 100
v_decimal = 59.99

print(f"String :{v_string}, "+
      f"String2 :{v_string2}, "+
      f"Boolean :{v_boolean}, "+
      f"Integer :{v_integer}, "+
      f"Decimal :{v_decimal}")

print(type(v_string))
print(type(v_boolean))
print(type(v_integer))
print(type(v_decimal))

String :Hello, String2 :World, Boolean :False, Integer :100, Decimal :59.99
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'float'>

## Les opérations de base

In [242]:
a = 10
b = 5
c = 2

somme = a + b
soustraction = a - b
division = a / c
multiplication = b * c

print(somme, soustraction, division, multiplication)

carre = b**2
modulo = a%2 # reste de la division euclidienne
division_entiere = a//c

print(carre, modulo, division_entiere)

somme += 2
soustraction -= 2
division /= 2
multiplication *= 2

print(somme, soustraction, division, multiplication)

15 5 5.0 10
25 0 5
17 3 2.5 20

## Casting

Note : Si on souhaite caster une chaîne de caractère en integer, il faut absolument que la chaîne de caractères ne comporte que des chiffres.

In [243]:
variable_float = 10.0
variable_integer = 20
variable_string = "100"

print(type(variable_float), type(variable_integer), type(variable_string))

variable_float = str(variable_float)
variable_integer = float(variable_integer)
variable_string = int(variable_string)

print(type(variable_float), type(variable_integer), type(variable_string))

# Note : Caster des lettres en entier n'est pas autorisé
print(int("Hello"))

<class 'float'> <class 'int'> <class 'str'>
<class 'str'> <class 'float'> <class 'int'>

ValueError: invalid literal for int() with base 10: 'Hello'

## Les fonctions

In [ ]:
def nomDeLaFonction():
    pass

def afficherHelloWorld():
    print("Hello World!")

def afficherLeMot(mot):
    print(mot)

def calculerSomme(a, b):
    """
    La documentation ici ?
    """
    return a + b

print(afficherHelloWorld())
print(afficherLeMot("Bye !"))
print(calculerSomme(20,10))
help(calculerSomme)

## Les tableaux

In [ ]:
# Liste
noms = ['Axel', 'Maurice', 'Lucas', 'Bob', 'Jean']
# Accès au troisième prénom
print(noms[2])
# Accès au dernier prénom
print(noms[-1])
# Accès du premier au deuxième prénoms
print(noms[:2])

In [ ]:
# Ajout d'un prénom à la suite de la liste
noms.append('Hugo')
print(noms)

In [ ]:
# Inérer un prénom à une position précise, ici Marc à l'index 2 soit ici juste après Maurice
noms.insert(2, 'Marc')
print(noms)

In [ ]:
noms_suivant = ['Anna', 'Cécile', 'Jeanne']
# Concaténation de liste
noms.extend(noms_suivant)
print(noms)

In [ ]:
# Suppression de la première occurence correspondant au prénom passé en paramètre
# Ici on supprime le prénom Bob de la liste
noms.remove('Bob')
print(noms)

In [ ]:
# Recupération de l'index en fonction du prénom recherché
# Ici on récupère l'indice 3 pour Lucas
print(noms.index('Lucas'))

In [ ]:
# Supprimer un élément de la liste en fonction de son index
# Ici on supprime le prénom Lucas de la liste
del noms[3]
print(noms)

In [ ]:
# Afficher le nom d'élément d'une liste
print(len(noms))

In [ ]:
# Dictionnaire
comptes = { 'Axel' : 100, 'Maurice' : 150, 'Marc' : -10 }
print(comptes)
print(comptes['Axel'])

In [ ]:
# Modification des valeurs au sein du dictionnaire
comptes['Axel'] += 500
print(comptes)

In [ ]:
# Suppresion d'un élément du dictionnaire
comptes.pop('Marc')
print(comptes)

In [ ]:
# Afficher le nom d'élément d'un dictionnaire
print(len(comptes))

In [ ]:
# Tuples
# Un tuple n'est pas modifiable, il est non mutable

data = (55, 'Argent', False, 'User')
print(data)
print(data[1])

In [ ]:
# Initialisation de plusieurs variables via à un tuple
id, type, newsletter, role = data
print(id)
print(type)
print(newsletter)
print(role)

In [ ]:
# Tentative de modification des valeurs du tuple, qui génère une erreur
data[0] = 60

## Les conditions

In [ ]:
name = input('Quel est ton nom ?')

In [ ]:
if len(name) > 0 :
    print("Salut", name, "!")
else:
    print("Bonjour INCONNU")

In [ ]:
age = 18

if age >= 18 and len(name) > 0:
    print(name, "est majeur !")
else:
    print("Impossible d'entrer.")

In [ ]:
sex = "F"
if age >= 18 and ( sex == "M" or sex == "F" ) and len(name) > 0:
    print("Humain", name, "peut entrer.")
else:
    print("Impossible d'entrer")

In [ ]:
#inverse/negation : Il n'est pas de sexe Masculin
print(not(sex == "M" ))

In [ ]:
# IN
if "o" in name:
    print("name comporte un o")
else:
    print("name ne comporte pas de o")

In [ ]:
# Enchainement de conditions

if "x" in name:
    print("name comporte un x")
elif "o" in name:
    print("name comporte un o")
else:
    print("name ne comporte pas de o, ni de x")

## Les boucles

In [ ]:
items = [5,8,1,6,2,10]
for item in items:
    print(item)

In [ ]:
# On veut créer une liste de dimension 5 mais avec un pas de 1
for i in range(0,5,1):
    print(i)

In [ ]:
# On veut créer une liste de dimension 5 mais avec un pas de 2
for i in range(0,5,2):
    print(i)

In [ ]:
limit = 10
i = 0
while i < limit:
    print(i)
    i+=1

print("Done!")

In [ ]:
# Utilisation de l'instruction "continue"
for i in range(10):    
    print(i)
    if (i == 2) or (i == 5):
        print("On esquive le print plus bas dans le code !")
        continue    
    print("i != 2 & i != 5")

In [ ]:
# Utilisation de l'instruction "continue"
for i in range(10):    
    print(i)
    if (i == 2) or (i == 5):
        print("On esquive le print plus bas dans le code !")
        continue
    if i == 7:
        print("On stoppe la boucle sur i == 7")
        break
    print("i != 2 & i != 5")

## Module

In [251]:
from lib import mygeometry as g

car = g.carre(4)
tri = g.triangle(3,6,5)

print(g.pi)
print(g.aire(car))

3.14159265359
16

## Random

In [ ]:
import random

for i in range(3):
    print(random.random())

In [ ]:
for i in range(3):
    print(random.uniform(5,10))

for i in range(3):
    print(random.randint(5,10))

In [ ]:
# Selectionner un élément au hasard dans une liste
items = ['a', 'b', 'c', 'd', 'e', 'f']
for i in range(3):
    print(random.choice(items))

In [ ]:
# Selection avec remise (sous echantillonnage)
print(random.choices(items, k=2))
print(random.choices(items, k=3))