# Memento librairie Pandas

In [1]:
import pandas as pd
import os
import numpy as np

## Ouvrir un fichier CSV, JSON, Excel

In [2]:
file_csv = os.path.join('resources') + '/clients.csv'
data_csv = pd.read_csv(file_csv)

file_json = os.path.join('resources') + '/clients.json'
data_json = pd.read_json(file_json)

file_excel = os.path.join('resources') + '/clients.xlsx'
data_excel = pd.read_excel(file_excel)

## Aperçu des datas

- .head(n) : pour afficher par défaut les 5 premières lignes du dataframe, où n est le nombre de ligne à afficher
- .tail(n) : pour afficher par défaut les 5 dernières lignes du dataframe, où n est le nombre de ligne à afficher

In [3]:
# On affiche les deux premières lignes
data_csv.head(2)

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M

In [4]:
# On affiche par défaut les 5 dernières lignes
data_csv.tail()

     identifiant                            email                nom genre
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

In [5]:
# On affiche par défaut les 5 premières lignes
data_json.head()

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

In [6]:
# On affiche les 10 dernières lignes
data_json.tail(10)

     identifiant                            email                nom genre
218          218           MinetteRoy@fleckens.hu        Minette Roy     F
219          219         RoslynChalifour@cuvox.de   Roslyn Chalifour     M
220          220          KarelBazinet@einrot.com      Karel Bazinet     M
221          221      JosetteBordeleau@einrot.com  Josette Bordeleau     F
222          222         LangleyCaron@armyspy.com      Langley Caron     M
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

In [7]:
# On affiche les 2 premières lignes
data_excel.head(2)

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M

In [8]:
# On affiche les 2 dernières lignes
data_excel.tail(2)

     identifiant                         email             nom genre
226          226  FleurCaouette@jourrapide.com  Fleur Caouette     F
227          227   FrancisMasse@jourrapide.com   Francis Masse     M

In [9]:
# On affiche par défaut les 5 premières et 5 dernières lignes du data frame
data_excel

     identifiant                            email                nom genre
0              0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1              1            GuyMarois@fleckens.hu         Guy Marois     M
2              2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3              3        RussellDurand@armyspy.com     Russell Durand     M
4              4             AlexisRiel@rhyta.com        Alexis Riel     M
..           ...                              ...                ...   ...
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

## Afficher les caractéristiques d'un dataframe

In [10]:
# Le dimensionnement
# Nombre de ligne, Nombre de colonne
data_csv.shape

(228, 4)

In [11]:
# Les types
data_csv.dtypes

identifiant     int64
email          object
nom            object
genre          object
dtype: object

<div class="alert alert-info" >Sous pandas le type "objet" correspond à une colonne de type "String"</div>

In [12]:
# Transformer le dataframe en array (NumPy)
clients_array = data_csv.values
print( clients_array )

[[0 'LaurentDagenais@rhyta.com' 'Laurent Dagenais' 'M']
 [1 'GuyMarois@fleckens.hu' 'Guy Marois' 'M']
 [2 'BeaufortLesage@einrot.com' 'Beaufort Lesage' 'M']
 [3 'RussellDurand@armyspy.com' 'Russell Durand' 'M']
 [4 'AlexisRiel@rhyta.com' 'Alexis Riel' 'M']
 [5 'LeonLapresse@cuvox.de' 'Leon Lapresse' 'M']
 [6 'OrvilleRouthier@gustr.com' 'Orville Routhier' 'M']
 [7 'AgramantPepin@dayrep.com' 'Agramant Pepin' 'M']
 [8 'AiglentinaLambert@fleckens.hu' 'Aiglentina Lambert' 'F']
 [9 'TheodoreClavet@teleworm.us' 'Theodore Clavet' 'M']
 [10 'ByronLefebvre@jourrapide.com' 'Byron Lefebvre' 'M']
 [11 'FlorusDevoe@einrot.com' 'Florus Devoe' 'M']
 [12 'NormandArsenault@armyspy.com' 'Normand Arsenault' 'M']
 [13 'AcelineHughes@jourrapide.com' 'Aceline Hughes' 'F']
 [14 'GastonBrisette@superrito.com' 'Gaston Brisette' 'M']
 [15 'AgateGrandbois@gustr.com' 'Agate Grandbois' 'F']
 [16 'AgricanFoucault@jourrapide.com' 'Agrican Foucault' 'M']
 [17 'PrunellaJosseaume@armyspy.com' 'Prunella Josseaume' 'F']
 [18 'YseultCharest@armyspy.com' 'Yseult Charest' 'F']
 [19 'DorotheeAupry@cuvox.de' 'Dorothee Aupry' 'F']
 [20 'AmauryReault@teleworm.us' 'Amaury Reault' 'M']
 [21 'GillesBeauchamps@superrito.com' 'Gilles Beauchamps' 'M']
 [22 'FranckDumont@gustr.com' 'Franck Dumont' 'M']
 [23 'DelmareLHeureux@dayrep.com' 'Delmare L Heureux' 'F']
 [24 'AlphonseCantin@cuvox.de' 'Alphonse Cantin' 'M']
 [25 'BlondelleRochon@gustr.com' 'Blondelle Rochon' 'F']
 [26 'SavilleBernard@armyspy.com' 'Saville Bernard' 'M']
 [27 'AnnetteJolicoeur@armyspy.com' 'Annette Jolicoeur' 'F']
 [28 'BradamateMichel@armyspy.com' 'Bradamate Michel' 'F']
 [29 'HilaireFrappier@armyspy.com' 'Hilaire Frappier' 'F']
 [30 'MarieBriard@gustr.com' 'Marie Briard' 'F']
 [31 'MadeleineBatard@superrito.com' 'Madeleine Batard' 'F']
 [32 'ArberGarcia@dayrep.com' 'Arber Garcia' 'M']
 [33 'SaberViens@superrito.com' 'Saber Viens' 'M']
 [34 'ArnaudDubois@rhyta.com' 'Arnaud Dubois' 'M']
 [35 'PryorBeauchamp@dayrep.com' 'Pryor Beauchamp' 'M']
 [36 'AlphonsePotvin@armyspy.com' 'Alphonse Potvin' 'M']
 [37 'FitzLafontaine@dayrep.com' 'Fitz Lafontaine' 'M']
 [38 'DelmareLamothe@gustr.com' 'Delmare Lamothe' 'F']
 [39 'DaisiBoileau@jourrapide.com' 'Daisi Boileau' 'F']
 [40 'SomerPaquette@jourrapide.com' 'Somer Paquette' 'M']
 [41 'OlivieCourtemanche@armyspy.com' 'Olivie Courtemanche' 'F']
 [42 'GermainHughes@teleworm.us' 'Germain Hughes' 'M']
 [43 'MorganaBellemare@superrito.com' 'Morgana Bellemare' 'F']
 [44 'MerciMorin@gustr.com' 'Merci Morin' 'F']
 [45 'VerneyBedard@dayrep.com' 'Verney Bedard' 'M']
 [46 'IgnaceAudibert@armyspy.com' 'Ignace Audibert' 'M']
 [47 'FranckBinet@superrito.com' 'Franck Binet' 'M']
 [48 'SumnerRocheleau@einrot.com' 'Sumner Rocheleau' 'M']
 [49 'AubertPatel@armyspy.com' 'Aubert Patel' 'M']
 [50 'SumnerLaprise@superrito.com' 'Sumner Laprise' 'M']
 [51 'MadeleineLeveille@dayrep.com' 'Madeleine Leveille' 'F']
 [52 'BelisardaGuedry@dayrep.com' 'Belisarda Guedry' 'F']
 [53 'ZurieTheberge@gustr.com' 'Zurie Theberge' 'F']
 [54 'ErmengardiBousquet@dayrep.com' 'Ermengardi Bousquet' 'F']
 [55 'FlorenceBeaudoin@einrot.com' 'Florence Beaudoin' 'F']
 [56 'LeoneCrete@armyspy.com' 'Leone Crete' 'F']
 [57 'SearlaitCote@superrito.com' 'Searlait Cote' 'F']
 [58 'AlphonsineBourassa@cuvox.de' 'Alphonsine Bourassa' 'F']
 [59 'DidianeDAubigne@einrot.com' 'Didiane D Aubigne' 'F']
 [60 'EdouardLacroix@cuvox.de' 'Edouard Lacroix' 'M']
 [61 'OdeletteCharron@superrito.com' 'Odelette Charron' 'F']
 [62 'AleronBerard@rhyta.com' 'Aleron Berard' 'M']
 [63 'SylvieDuranseau@einrot.com' 'Sylvie Duranseau' 'F']
 [64 'YvetteDAvis@cuvox.de' 'Yvette D Avis' 'F']
 [65 'SolaineLecuyer@dayrep.com' 'Solaine Lecuyer' 'F']
 [66 'CourtlandDavid@cuvox.de' 'Courtland David' 'M']
 [67 'PatienceCharbonneau@jourrapide.com' 'Patience Charbonneau' 'F']
 [68 'EmmanuelLanctot@cuvox.de' 'Emmanuel Lanctot' 'M']
 [69 'MusetteProvencher@armyspy.com' 'Musette Provencher' 'F']
 [70 'MorganaMarchesseault@teleworm.us' 'Morgana Marchesseault' 'F']
 [71 'ViolletteArnoux@cuvox.de' 'Viollette Arnoux' 'F']
 [72 'SlainieGregoire@cuvox.de' 'Slainie Gregoire' 'F']
 [73 'GarlandLagueux@rhyta.com' 'Garland Lagueux' 'F']
 [74 'FerragusGrimard@cuvox.de' 'Ferragus Grimard' 'M']
 [75 'JeanTollmache@einrot.com' 'Jean Tollmache' 'M']
 [76 'LanceParent@teleworm.us' 'Lance Parent' 'M']
 [77 'CheneyChaloux@cuvox.de' 'Cheney Chaloux' 'M']
 [78 'PierpontLamarre@superrito.com' 'Pierpont Lamarre' 'M']
 [79 'ComforteQuerry@superrito.com' 'Comforte Querry' 'F']
 [80 'NadineMasson@teleworm.us' 'Nadine Masson' 'F']
 [81 'FranceLaderoute@jourrapide.com' 'France Laderoute' 'F']
 [82 'LothairBonenfant@dayrep.com' 'Lothair Bonenfant' 'M']
 [83 'OlivieNorbert@cuvox.de' 'Olivie Norbert' 'F']
 [84 'SomerMarleau@cuvox.de' 'Somer Marleau' 'M']
 [85 'AstridJolicoeur@superrito.com' 'Astrid Jolicoeur' 'F']
 [86 'OlivierGaillard@superrito.com' 'Olivier Gaillard' 'M']
 [87 'PhilipPinneau@teleworm.us' 'Philip Pinneau' 'M']
 [88 'AlexisLagrange@gustr.com' 'Alexis Lagrange' 'M']
 [89 'HeloiseGregoire@dayrep.com' 'Heloise Gregoire' 'F']
 [90 'DexterDavid@fleckens.hu' 'Dexter David' 'M']
 [91 'JacquesMethot@cuvox.de' 'Jacques Methot' 'M']
 [92 'AnceloteDesforges@cuvox.de' 'Ancelote Desforges' 'F']
 [93 'JulietteOuellet@rhyta.com' 'Juliette Ouellet' 'F']
 [94 'AvrilSylvain@superrito.com' 'Avril Sylvain' 'F']
 [95 'RachellePlaisance@armyspy.com' 'Rachelle Plaisance' 'F']
 [96 'BenjaminLabrie@fleckens.hu' 'Benjamin Labrie' 'M']
 [97 'LaureBondy@superrito.com' 'Laure Bondy' 'F']
 [98 'NatalieLeveille@rhyta.com' 'Natalie Leveille' 'F']
 [99 'SydneyGuibord@superrito.com' 'Sydney Guibord' 'F']
 [100 'ZdenekVadnais@superrito.com' 'Zdenek Vadnais' 'M']
 [101 'LoyalQuenneville@superrito.com' 'Loyal Quenneville' 'M']
 [102 'ErnestTachel@cuvox.de' 'Ernest Tachel' 'M']
 [103 'MatthieuPouchard@teleworm.us' 'Matthieu Pouchard' 'M']
 [104 'SearlasArtois@rhyta.com' 'Searlas Artois' 'M']
 [105 'ArnoLeBatelier@einrot.com' 'Arno Le Batelier' 'M']
 [106 'EstellePoisson@jourrapide.com' 'Estelle Poisson' 'F']
 [107 'HarcourtCharpentier@cuvox.de' 'Harcourt Charpentier' 'M']
 [108 'CrescentLavallee@armyspy.com' 'Crescent Lavallee' 'F']
 [109 'EugeniaVadeboncoeur@cuvox.de' 'Eugenia Vadeboncoeur' 'F']
 [110 'GenevreLabrie@cuvox.de' 'Genevre Labrie' 'F']
 [111 'NormandCote@dayrep.com' 'Normand Cote' 'M']
 [112 'ZoeLeclair@gustr.com' 'Zoe Leclair' 'F']
 [113 'PhillipaPerrault@einrot.com' 'Phillipa Perrault' 'F']
 [114 'EliseDesrosiers@jourrapide.com' 'Elise Desrosiers' 'F']
 [115 'RussellRochon@superrito.com' 'Russell Rochon' 'M']
 [116 'BeldaLauzier@armyspy.com' 'Belda Lauzier' 'F']
 [117 'AlphonsineSacre@einrot.com' 'Alphonsine Sacre' 'F']
 [118 'AubineLabelle@cuvox.de' 'Aubine Labelle' 'F']
 [119 'EmileVadnais@rhyta.com' 'Emile Vadnais' 'M']
 [120 'ArienneCantin@superrito.com' 'Arienne Cantin' 'F']
 [121 'JacquesMarcheterre@einrot.com' 'Jacques Marcheterre' 'M']
 [122 'EliotDupuis@gustr.com' 'Eliot Dupuis' 'M']
 [123 'ArthurPlante@jourrapide.com' 'Arthur Plante' 'M']
 [124 'SacripantLabrie@armyspy.com' 'Sacripant Labrie' 'M']
 [125 'SibylaLizotte@cuvox.de' 'Sibyla Lizotte' 'F']
 [126 'ChristianLaberge@armyspy.com' 'Christian Laberge' 'M']
 [127 'VickDavid@gustr.com' 'Vick David' 'M']
 [128 'ComforteCloutier@einrot.com' 'Comforte Cloutier' 'F']
 [129 'ClaudeGalarneau@armyspy.com' 'Claude Galarneau' 'M']
 [130 'ElisePerrault@superrito.com' 'Elise Perrault' 'F']
 [131 'LoringRocheleau@cuvox.de' 'Loring Rocheleau' 'M']
 [132 'MathildeSansouci@superrito.com' 'Mathilde Sansouci' 'F']
 [133 'AmaurySirois@superrito.com' 'Amaury Sirois' 'M']
 [134 'ChristelleLandry@jourrapide.com' 'Christelle Landry' 'F']
 [135 'AdelaideBrousse@gustr.com' 'Adelaide Brousse' 'F']
 [136 'BriceFaure@einrot.com' 'Brice Faure' 'M']
 [137 'AlaineHervieux@rhyta.com' 'Alaine Hervieux' 'F']
 [138 'LanceCroteau@einrot.com' 'Lance Croteau' 'M']
 [139 'AurelieBazinet@dayrep.com' 'Aurelie Bazinet' 'F']
 [140 'AstolphoVeronneau@teleworm.us' 'Astolpho Veronneau' 'M']
 [141 'JolieDeblois@armyspy.com' 'Jolie Deblois' 'F']
 [142 'MireilleParenteau@superrito.com' 'Mireille Parenteau' 'F']
 [143 'ToussaintBrodeur@rhyta.com' 'Toussaint Brodeur' 'M']
 [144 'PorterSimard@armyspy.com' 'Porter Simard' 'M']
 [145 'JeromedeLaunay@fleckens.hu' 'Jeromede Launay' 'M']
 [146 'LowellPatel@rhyta.com' 'Lowell Patel' 'M']
 [147 'GarlandMarcheterre@fleckens.hu' 'Garland Marcheterre' 'F']
 [148 'OlivierAube@armyspy.com' 'Olivier Aube' 'M']
 [149 'FrontinoBrian@einrot.com' 'Frontino Brian' 'M']
 [150 'RochMireault@gustr.com' 'Roch Mireault' 'M']
 [151 'NathalieCormier@cuvox.de' 'Nathalie Cormier' 'F']
 [152 'VallisMainville@gustr.com' 'Vallis Mainville' 'M']
 [153 'DanielleNeufville@teleworm.us' 'Danielle Neufville' 'F']
 [154 'AllyrianeRacine@gustr.com' 'Allyriane Racine' 'F']
 [155 'PierpontFlamand@fleckens.hu' 'Pierpont Flamand' 'M']
 [156 'DanielHuot@rhyta.com' 'Daniel Huot' 'M']
 [157 'HughPoisson@fleckens.hu' 'Hugh Poisson' 'M']
 [158 'YoletteMoreau@dayrep.com' 'Yolette Moreau' 'F']
 [159 'GasparReault@dayrep.com' 'Gaspar Reault' 'M']
 [160 'DelitBisaillon@teleworm.us' 'Delit Bisaillon' 'F']
 [161 'ManonDastous@armyspy.com' 'Manon Dastous' 'F']
 [162 'LoyalFouquet@armyspy.com' 'Loyal Fouquet' 'M']
 [163 'ApollineLaframboise@teleworm.us' 'Apolline Laframboise' 'F']
 [164 'OrielMiron@jourrapide.com' 'Oriel Miron' 'F']
 [165 'LianeLaGarde@cuvox.de' 'Liane La Garde' 'F']
 [166 'AnastasieCroteau@rhyta.com' 'Anastasie Croteau' 'F']
 [167 'VerneyCourse@armyspy.com' 'Verney Course' 'M']
 [168 'VoletaAdler@armyspy.com' 'Voleta Adler' 'F']
 [169 'PlattParent@jourrapide.com' 'Platt Parent' 'M']
 [170 'BlondelleAilleboust@gustr.com' 'Blondelle Ailleboust' 'F']
 [171 'AurelieDesnoyer@armyspy.com' 'Aurelie Desnoyer' 'F']
 [172 'AvelaineGadbois@dayrep.com' 'Avelaine Gadbois' 'F']
 [173 'BriceGrondin@fleckens.hu' 'Brice Grondin' 'M']
 [174 'ZacharieDuplessis@rhyta.com' 'Zacharie Duplessis' 'M']
 [175 'OgierGervais@gustr.com' 'Ogier Gervais' 'M']
 [176 'FusbertaRancourt@rhyta.com' 'Fusberta Rancourt' 'F']
 [177 'CamilleLaurent@superrito.com' 'Camille Laurent' 'F']
 [178 'CeriseMontminy@dayrep.com' 'Cerise Montminy' 'F']
 [179 'JosetteRiquier@armyspy.com' 'Josette Riquier' 'F']
 [180 'AgnesBriard@cuvox.de' 'Agnes Briard' 'F']
 [181 'AvrilRocheleau@fleckens.hu' 'Avril Rocheleau' 'F']
 [182 'BenoitGauvin@teleworm.us' 'Benoit Gauvin' 'M']
 [183 'HeloiseMarcil@fleckens.hu' 'Heloise Marcil' 'F']
 [184 'RolandDupont@einrot.com' 'Roland Dupont' 'M']
 [185 'SolaineLabrecque@fleckens.hu' 'Solaine Labrecque' 'F']
 [186 'JulieBeauchemin@teleworm.us' 'Julie Beauchemin' 'F']
 [187 'KarelDandonneau@dayrep.com' 'Karel Dandonneau' 'M']
 [188 'PaienBeauchesne@rhyta.com' 'Paien Beauchesne' 'M']
 [189 'AdeleClavette@cuvox.de' 'Adele Clavette' 'F']
 [190 'LotyeJodion@fleckens.hu' 'Lotye Jodion' 'F']
 [191 'AmaranteLacroix@fleckens.hu' 'Amarante Lacroix' 'F']
 [192 'XarlesCaisse@jourrapide.com' 'Xarles Caisse' 'M']
 [193 'LealaLemelin@dayrep.com' 'Leala Lemelin' 'F']
 [194 'ChantalLamoureux@jourrapide.com' 'Chantal Lamoureux' 'F']
 [195 'NinetteAdler@superrito.com' 'Ninette Adler' 'F']
 [196 'EmmanuelleLabrie@einrot.com' 'Emmanuelle Labrie' 'F']
 [197 'HuonDeLaRonde@rhyta.com' 'Huon De La Ronde' 'M']
 [198 'SimoneSt-Pierre@jourrapide.com' 'Simone St- Pierre' 'F']
 [199 'PeverellMazuret@dayrep.com' 'Peverell Mazuret' 'M']
 [200 'LorrainePaulet@einrot.com' 'Lorraine Paulet' 'F']
 [201 'DemiLazure@cuvox.de' 'Demi Lazure' 'F']
 [202 'AgramantGrandpre@rhyta.com' 'Agramant Grandpre' 'M']
 [203 'ClothildeBerie@teleworm.us' 'Clothilde Berie' 'F']
 [204 'AimeMarseau@dayrep.com' 'Aime Marseau' 'M']
 [205 'RogerDeLaRonde@gustr.com' 'Roger De La Ronde' 'M']
 [206 'AiglentinaMarcheterre@superrito.com' 'Aiglentina Marcheterre' 'F']
 [207 'NoemiLaisne@rhyta.com' 'Noemi Laisne' 'F']
 [208 'DenisPatenaude@einrot.com' 'Denis Patenaude' 'M']
 [209 'JulienBeriault@rhyta.com' 'Julien Beriault' 'M']
 [210 'MartheQuerry@einrot.com' 'Marthe Querry' 'F']
 [211 'ParfaitBedard@armyspy.com' 'Parfait Bedard' 'M']
 [212 'MandelBarteaux@gustr.com' 'Mandel Barteaux' 'M']
 [213 'PauletteLemaitre@fleckens.hu' 'Paulette Lemaitre' 'F']
 [214 'YoletteLanoie@dayrep.com' 'Yolette Lanoie' 'F']
 [215 'LucilleBaron@superrito.com' 'Lucille Baron' 'F']
 [216 'ChappellSarrazin@rhyta.com' 'Chappell Sarrazin' 'M']
 [217 'GanoHetu@fleckens.hu' 'Gano Hetu' 'M']
 [218 'MinetteRoy@fleckens.hu' 'Minette Roy' 'F']
 [219 'RoslynChalifour@cuvox.de' 'Roslyn Chalifour' 'M']
 [220 'KarelBazinet@einrot.com' 'Karel Bazinet' 'M']
 [221 'JosetteBordeleau@einrot.com' 'Josette Bordeleau' 'F']
 [222 'LangleyCaron@armyspy.com' 'Langley Caron' 'M']
 [223 'ClaudeDandonneau@jourrapide.com' 'Claude Dandonneau' 'F']
 [224 'ApollineMichaud@superrito.com' 'Apolline Michaud' 'F']
 [225 'PascalineBeaudry@rhyta.com' 'Pascaline Beaudry' 'F']
 [226 'FleurCaouette@jourrapide.com' 'Fleur Caouette' 'F']
 [227 'FrancisMasse@jourrapide.com' 'Francis Masse' 'M']]

In [13]:
# On peut ainsi reproduire la manipulation comme avec NumPy
print( clients_array[ clients_array[:, 3] == 'M' ] )

[[0 'LaurentDagenais@rhyta.com' 'Laurent Dagenais' 'M']
 [1 'GuyMarois@fleckens.hu' 'Guy Marois' 'M']
 [2 'BeaufortLesage@einrot.com' 'Beaufort Lesage' 'M']
 [3 'RussellDurand@armyspy.com' 'Russell Durand' 'M']
 [4 'AlexisRiel@rhyta.com' 'Alexis Riel' 'M']
 [5 'LeonLapresse@cuvox.de' 'Leon Lapresse' 'M']
 [6 'OrvilleRouthier@gustr.com' 'Orville Routhier' 'M']
 [7 'AgramantPepin@dayrep.com' 'Agramant Pepin' 'M']
 [9 'TheodoreClavet@teleworm.us' 'Theodore Clavet' 'M']
 [10 'ByronLefebvre@jourrapide.com' 'Byron Lefebvre' 'M']
 [11 'FlorusDevoe@einrot.com' 'Florus Devoe' 'M']
 [12 'NormandArsenault@armyspy.com' 'Normand Arsenault' 'M']
 [14 'GastonBrisette@superrito.com' 'Gaston Brisette' 'M']
 [16 'AgricanFoucault@jourrapide.com' 'Agrican Foucault' 'M']
 [20 'AmauryReault@teleworm.us' 'Amaury Reault' 'M']
 [21 'GillesBeauchamps@superrito.com' 'Gilles Beauchamps' 'M']
 [22 'FranckDumont@gustr.com' 'Franck Dumont' 'M']
 [24 'AlphonseCantin@cuvox.de' 'Alphonse Cantin' 'M']
 [26 'SavilleBernard@armyspy.com' 'Saville Bernard' 'M']
 [32 'ArberGarcia@dayrep.com' 'Arber Garcia' 'M']
 [33 'SaberViens@superrito.com' 'Saber Viens' 'M']
 [34 'ArnaudDubois@rhyta.com' 'Arnaud Dubois' 'M']
 [35 'PryorBeauchamp@dayrep.com' 'Pryor Beauchamp' 'M']
 [36 'AlphonsePotvin@armyspy.com' 'Alphonse Potvin' 'M']
 [37 'FitzLafontaine@dayrep.com' 'Fitz Lafontaine' 'M']
 [40 'SomerPaquette@jourrapide.com' 'Somer Paquette' 'M']
 [42 'GermainHughes@teleworm.us' 'Germain Hughes' 'M']
 [45 'VerneyBedard@dayrep.com' 'Verney Bedard' 'M']
 [46 'IgnaceAudibert@armyspy.com' 'Ignace Audibert' 'M']
 [47 'FranckBinet@superrito.com' 'Franck Binet' 'M']
 [48 'SumnerRocheleau@einrot.com' 'Sumner Rocheleau' 'M']
 [49 'AubertPatel@armyspy.com' 'Aubert Patel' 'M']
 [50 'SumnerLaprise@superrito.com' 'Sumner Laprise' 'M']
 [60 'EdouardLacroix@cuvox.de' 'Edouard Lacroix' 'M']
 [62 'AleronBerard@rhyta.com' 'Aleron Berard' 'M']
 [66 'CourtlandDavid@cuvox.de' 'Courtland David' 'M']
 [68 'EmmanuelLanctot@cuvox.de' 'Emmanuel Lanctot' 'M']
 [74 'FerragusGrimard@cuvox.de' 'Ferragus Grimard' 'M']
 [75 'JeanTollmache@einrot.com' 'Jean Tollmache' 'M']
 [76 'LanceParent@teleworm.us' 'Lance Parent' 'M']
 [77 'CheneyChaloux@cuvox.de' 'Cheney Chaloux' 'M']
 [78 'PierpontLamarre@superrito.com' 'Pierpont Lamarre' 'M']
 [82 'LothairBonenfant@dayrep.com' 'Lothair Bonenfant' 'M']
 [84 'SomerMarleau@cuvox.de' 'Somer Marleau' 'M']
 [86 'OlivierGaillard@superrito.com' 'Olivier Gaillard' 'M']
 [87 'PhilipPinneau@teleworm.us' 'Philip Pinneau' 'M']
 [88 'AlexisLagrange@gustr.com' 'Alexis Lagrange' 'M']
 [90 'DexterDavid@fleckens.hu' 'Dexter David' 'M']
 [91 'JacquesMethot@cuvox.de' 'Jacques Methot' 'M']
 [96 'BenjaminLabrie@fleckens.hu' 'Benjamin Labrie' 'M']
 [100 'ZdenekVadnais@superrito.com' 'Zdenek Vadnais' 'M']
 [101 'LoyalQuenneville@superrito.com' 'Loyal Quenneville' 'M']
 [102 'ErnestTachel@cuvox.de' 'Ernest Tachel' 'M']
 [103 'MatthieuPouchard@teleworm.us' 'Matthieu Pouchard' 'M']
 [104 'SearlasArtois@rhyta.com' 'Searlas Artois' 'M']
 [105 'ArnoLeBatelier@einrot.com' 'Arno Le Batelier' 'M']
 [107 'HarcourtCharpentier@cuvox.de' 'Harcourt Charpentier' 'M']
 [111 'NormandCote@dayrep.com' 'Normand Cote' 'M']
 [115 'RussellRochon@superrito.com' 'Russell Rochon' 'M']
 [119 'EmileVadnais@rhyta.com' 'Emile Vadnais' 'M']
 [121 'JacquesMarcheterre@einrot.com' 'Jacques Marcheterre' 'M']
 [122 'EliotDupuis@gustr.com' 'Eliot Dupuis' 'M']
 [123 'ArthurPlante@jourrapide.com' 'Arthur Plante' 'M']
 [124 'SacripantLabrie@armyspy.com' 'Sacripant Labrie' 'M']
 [126 'ChristianLaberge@armyspy.com' 'Christian Laberge' 'M']
 [127 'VickDavid@gustr.com' 'Vick David' 'M']
 [129 'ClaudeGalarneau@armyspy.com' 'Claude Galarneau' 'M']
 [131 'LoringRocheleau@cuvox.de' 'Loring Rocheleau' 'M']
 [133 'AmaurySirois@superrito.com' 'Amaury Sirois' 'M']
 [136 'BriceFaure@einrot.com' 'Brice Faure' 'M']
 [138 'LanceCroteau@einrot.com' 'Lance Croteau' 'M']
 [140 'AstolphoVeronneau@teleworm.us' 'Astolpho Veronneau' 'M']
 [143 'ToussaintBrodeur@rhyta.com' 'Toussaint Brodeur' 'M']
 [144 'PorterSimard@armyspy.com' 'Porter Simard' 'M']
 [145 'JeromedeLaunay@fleckens.hu' 'Jeromede Launay' 'M']
 [146 'LowellPatel@rhyta.com' 'Lowell Patel' 'M']
 [148 'OlivierAube@armyspy.com' 'Olivier Aube' 'M']
 [149 'FrontinoBrian@einrot.com' 'Frontino Brian' 'M']
 [150 'RochMireault@gustr.com' 'Roch Mireault' 'M']
 [152 'VallisMainville@gustr.com' 'Vallis Mainville' 'M']
 [155 'PierpontFlamand@fleckens.hu' 'Pierpont Flamand' 'M']
 [156 'DanielHuot@rhyta.com' 'Daniel Huot' 'M']
 [157 'HughPoisson@fleckens.hu' 'Hugh Poisson' 'M']
 [159 'GasparReault@dayrep.com' 'Gaspar Reault' 'M']
 [162 'LoyalFouquet@armyspy.com' 'Loyal Fouquet' 'M']
 [167 'VerneyCourse@armyspy.com' 'Verney Course' 'M']
 [169 'PlattParent@jourrapide.com' 'Platt Parent' 'M']
 [173 'BriceGrondin@fleckens.hu' 'Brice Grondin' 'M']
 [174 'ZacharieDuplessis@rhyta.com' 'Zacharie Duplessis' 'M']
 [175 'OgierGervais@gustr.com' 'Ogier Gervais' 'M']
 [182 'BenoitGauvin@teleworm.us' 'Benoit Gauvin' 'M']
 [184 'RolandDupont@einrot.com' 'Roland Dupont' 'M']
 [187 'KarelDandonneau@dayrep.com' 'Karel Dandonneau' 'M']
 [188 'PaienBeauchesne@rhyta.com' 'Paien Beauchesne' 'M']
 [192 'XarlesCaisse@jourrapide.com' 'Xarles Caisse' 'M']
 [197 'HuonDeLaRonde@rhyta.com' 'Huon De La Ronde' 'M']
 [199 'PeverellMazuret@dayrep.com' 'Peverell Mazuret' 'M']
 [202 'AgramantGrandpre@rhyta.com' 'Agramant Grandpre' 'M']
 [204 'AimeMarseau@dayrep.com' 'Aime Marseau' 'M']
 [205 'RogerDeLaRonde@gustr.com' 'Roger De La Ronde' 'M']
 [208 'DenisPatenaude@einrot.com' 'Denis Patenaude' 'M']
 [209 'JulienBeriault@rhyta.com' 'Julien Beriault' 'M']
 [211 'ParfaitBedard@armyspy.com' 'Parfait Bedard' 'M']
 [212 'MandelBarteaux@gustr.com' 'Mandel Barteaux' 'M']
 [216 'ChappellSarrazin@rhyta.com' 'Chappell Sarrazin' 'M']
 [217 'GanoHetu@fleckens.hu' 'Gano Hetu' 'M']
 [219 'RoslynChalifour@cuvox.de' 'Roslyn Chalifour' 'M']
 [220 'KarelBazinet@einrot.com' 'Karel Bazinet' 'M']
 [222 'LangleyCaron@armyspy.com' 'Langley Caron' 'M']
 [227 'FrancisMasse@jourrapide.com' 'Francis Masse' 'M']]

## Manipulation du dataframe

In [14]:
# Afficher le contenu d'une colonne
print(data_csv['email'])

0            LaurentDagenais@rhyta.com
1                GuyMarois@fleckens.hu
2            BeaufortLesage@einrot.com
3            RussellDurand@armyspy.com
4                 AlexisRiel@rhyta.com
                    ...
223    ClaudeDandonneau@jourrapide.com
224      ApollineMichaud@superrito.com
225         PascalineBeaudry@rhyta.com
226       FleurCaouette@jourrapide.com
227        FrancisMasse@jourrapide.com
Name: email, Length: 228, dtype: object

In [15]:
# Afficher le contenu de plusieurs colonnes
print(data_csv[ ['genre', 'email'] ])

    genre                            email
0       M        LaurentDagenais@rhyta.com
1       M            GuyMarois@fleckens.hu
2       M        BeaufortLesage@einrot.com
3       M        RussellDurand@armyspy.com
4       M             AlexisRiel@rhyta.com
..    ...                              ...
223     F  ClaudeDandonneau@jourrapide.com
224     F    ApollineMichaud@superrito.com
225     F       PascalineBeaudry@rhyta.com
226     F     FleurCaouette@jourrapide.com
227     M      FrancisMasse@jourrapide.com

[228 rows x 2 columns]

## Types

In [16]:
# Type Series
print(type(data_csv['email']))
# Type DataFrame
print(type(data_csv[ ['genre', 'email'] ]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

## Manipulation d'un objet Series (une colonne)

In [17]:
# Modification de son contenu
data_csv['email'] = 0
print(data_csv['email'])

0      0
1      0
2      0
3      0
4      0
      ..
223    0
224    0
225    0
226    0
227    0
Name: email, Length: 228, dtype: int64

In [18]:
print(data_csv)

     identifiant  email                nom genre
0              0      0   Laurent Dagenais     M
1              1      0         Guy Marois     M
2              2      0    Beaufort Lesage     M
3              3      0     Russell Durand     M
4              4      0        Alexis Riel     M
..           ...    ...                ...   ...
223          223      0  Claude Dandonneau     F
224          224      0   Apolline Michaud     F
225          225      0  Pascaline Beaudry     F
226          226      0     Fleur Caouette     F
227          227      0      Francis Masse     M

[228 rows x 4 columns]

In [19]:
# Remplacer son contenu par un array de même dimension
data_csv['email'] = np.random.randint(1,1000, data_csv.shape[0])
print(data_csv['email'])

0       61
1       82
2      618
3      309
4       67
      ...
223    527
224     20
225    249
226    581
227    530
Name: email, Length: 228, dtype: int64

In [20]:
# Créer une colonne
data_csv['id'] = data_csv['identifiant'] + 1000
print(data_csv)

     identifiant  email                nom genre    id
0              0     61   Laurent Dagenais     M  1000
1              1     82         Guy Marois     M  1001
2              2    618    Beaufort Lesage     M  1002
3              3    309     Russell Durand     M  1003
4              4     67        Alexis Riel     M  1004
..           ...    ...                ...   ...   ...
223          223    527  Claude Dandonneau     F  1223
224          224     20   Apolline Michaud     F  1224
225          225    249  Pascaline Beaudry     F  1225
226          226    581     Fleur Caouette     F  1226
227          227    530      Francis Masse     M  1227

[228 rows x 5 columns]

In [21]:
# Supprimer une colonne

# Drop renvoie une copie du dataframe, ne supprime pas directement la colonne sur le dataframe d'origine
df_copy = data_csv.drop(columns='id')
print(df_copy)

     identifiant  email                nom genre
0              0     61   Laurent Dagenais     M
1              1     82         Guy Marois     M
2              2    618    Beaufort Lesage     M
3              3    309     Russell Durand     M
4              4     67        Alexis Riel     M
..           ...    ...                ...   ...
223          223    527  Claude Dandonneau     F
224          224     20   Apolline Michaud     F
225          225    249  Pascaline Beaudry     F
226          226    581     Fleur Caouette     F
227          227    530      Francis Masse     M

[228 rows x 4 columns]

In [22]:
print(data_csv)

     identifiant  email                nom genre    id
0              0     61   Laurent Dagenais     M  1000
1              1     82         Guy Marois     M  1001
2              2    618    Beaufort Lesage     M  1002
3              3    309     Russell Durand     M  1003
4              4     67        Alexis Riel     M  1004
..           ...    ...                ...   ...   ...
223          223    527  Claude Dandonneau     F  1223
224          224     20   Apolline Michaud     F  1224
225          225    249  Pascaline Beaudry     F  1225
226          226    581     Fleur Caouette     F  1226
227          227    530      Francis Masse     M  1227

[228 rows x 5 columns]

In [23]:
# Si on est certain de la suppression alors on l'impacte sur le df d'origine
data_csv = df_copy
print(data_csv)

     identifiant  email                nom genre
0              0     61   Laurent Dagenais     M
1              1     82         Guy Marois     M
2              2    618    Beaufort Lesage     M
3              3    309     Russell Durand     M
4              4     67        Alexis Riel     M
..           ...    ...                ...   ...
223          223    527  Claude Dandonneau     F
224          224     20   Apolline Michaud     F
225          225    249  Pascaline Beaudry     F
226          226    581     Fleur Caouette     F
227          227    530      Francis Masse     M

[228 rows x 4 columns]

In [24]:
# On peut également supprimer une colonne de la façon suivante : 
del data_csv['genre']
print(data_csv)

     identifiant  email                nom
0              0     61   Laurent Dagenais
1              1     82         Guy Marois
2              2    618    Beaufort Lesage
3              3    309     Russell Durand
4              4     67        Alexis Riel
..           ...    ...                ...
223          223    527  Claude Dandonneau
224          224     20   Apolline Michaud
225          225    249  Pascaline Beaudry
226          226    581     Fleur Caouette
227          227    530      Francis Masse

[228 rows x 3 columns]

In [25]:
# Ou alors de cette manière
data_csv.pop('email')
print(data_csv)

     identifiant                nom
0              0   Laurent Dagenais
1              1         Guy Marois
2              2    Beaufort Lesage
3              3     Russell Durand
4              4        Alexis Riel
..           ...                ...
223          223  Claude Dandonneau
224          224   Apolline Michaud
225          225  Pascaline Beaudry
226          226     Fleur Caouette
227          227      Francis Masse

[228 rows x 2 columns]

<div class="alert alert-info" >L'utilisation de <b>del</b> ou de <b>.pop()</b> impacte directement le dataframe comparé à <b>.drop()</b> qui lui retourne une copie du df avec la modification.</div>

In [26]:
# On reinitialise le data_csv avec toutes ses colonnes
data_csv = data_json

# Le paramètre columns de la méthode .rename() attend un dictionnaire avec key : ancien nom et value : nouveau nom
# Par exemple ici 'identifiant' correspond à l'ancien nom et 'id' correspond au nouveau nom
df_copy = data_csv.rename(columns={'identifiant' :'id'})
print(df_copy)

      id                            email                nom genre
0      0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1      1            GuyMarois@fleckens.hu         Guy Marois     M
2      2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3      3        RussellDurand@armyspy.com     Russell Durand     M
4      4             AlexisRiel@rhyta.com        Alexis Riel     M
..   ...                              ...                ...   ...
223  223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224  224    ApollineMichaud@superrito.com   Apolline Michaud     F
225  225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226  226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227  227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

In [27]:
print(data_csv)

     identifiant                            email                nom genre
0              0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1              1            GuyMarois@fleckens.hu         Guy Marois     M
2              2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3              3        RussellDurand@armyspy.com     Russell Durand     M
4              4             AlexisRiel@rhyta.com        Alexis Riel     M
..           ...                              ...                ...   ...
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

In [28]:
# Comme avec la méthode .drop(), .rename() ne modifie pas directement le dataframne, il renvoie une copie

# Permet de modifier directement le dataframe sans retourner de copie
data_csv.rename(columns={'identifiant' :'id'}, inplace=True)
print(data_csv)

      id                            email                nom genre
0      0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1      1            GuyMarois@fleckens.hu         Guy Marois     M
2      2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3      3        RussellDurand@armyspy.com     Russell Durand     M
4      4             AlexisRiel@rhyta.com        Alexis Riel     M
..   ...                              ...                ...   ...
223  223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224  224    ApollineMichaud@superrito.com   Apolline Michaud     F
225  225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226  226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227  227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

In [29]:
# Si plusieurs colonnes
data_csv.rename(columns={'identifiant' :'id', 'genre' : 'sex', 'nom' : 'name'}, inplace=True)
print(data_csv)

      id                            email               name sex
0      0        LaurentDagenais@rhyta.com   Laurent Dagenais   M
1      1            GuyMarois@fleckens.hu         Guy Marois   M
2      2        BeaufortLesage@einrot.com    Beaufort Lesage   M
3      3        RussellDurand@armyspy.com     Russell Durand   M
4      4             AlexisRiel@rhyta.com        Alexis Riel   M
..   ...                              ...                ...  ..
223  223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau   F
224  224    ApollineMichaud@superrito.com   Apolline Michaud   F
225  225       PascalineBeaudry@rhyta.com  Pascaline Beaudry   F
226  226     FleurCaouette@jourrapide.com     Fleur Caouette   F
227  227      FrancisMasse@jourrapide.com      Francis Masse   M

[228 rows x 4 columns]

In [39]:
# Changer le type d'une colonne
data_csv['id'] = data_csv['id'].astype(float)
print(data_csv)

        id                            email               name sex
0      0.0        LaurentDagenais@rhyta.com   Laurent Dagenais   M
1      1.0            GuyMarois@fleckens.hu         Guy Marois   M
2      2.0        BeaufortLesage@einrot.com    Beaufort Lesage   M
3      3.0        RussellDurand@armyspy.com     Russell Durand   M
4      4.0             AlexisRiel@rhyta.com        Alexis Riel   M
..     ...                              ...                ...  ..
223  223.0  ClaudeDandonneau@jourrapide.com  Claude Dandonneau   F
224  224.0    ApollineMichaud@superrito.com   Apolline Michaud   F
225  225.0       PascalineBeaudry@rhyta.com  Pascaline Beaudry   F
226  226.0     FleurCaouette@jourrapide.com     Fleur Caouette   F
227  227.0      FrancisMasse@jourrapide.com      Francis Masse   M

[228 rows x 4 columns]

In [40]:
# Trier par ordre croissant
print(data_csv.sort_values('id'))

        id                            email               name sex
0      0.0        LaurentDagenais@rhyta.com   Laurent Dagenais   M
1      1.0            GuyMarois@fleckens.hu         Guy Marois   M
2      2.0        BeaufortLesage@einrot.com    Beaufort Lesage   M
3      3.0        RussellDurand@armyspy.com     Russell Durand   M
4      4.0             AlexisRiel@rhyta.com        Alexis Riel   M
..     ...                              ...                ...  ..
223  223.0  ClaudeDandonneau@jourrapide.com  Claude Dandonneau   F
224  224.0    ApollineMichaud@superrito.com   Apolline Michaud   F
225  225.0       PascalineBeaudry@rhyta.com  Pascaline Beaudry   F
226  226.0     FleurCaouette@jourrapide.com     Fleur Caouette   F
227  227.0      FrancisMasse@jourrapide.com      Francis Masse   M

[228 rows x 4 columns]

In [41]:
# Trier par ordre décroissant
print(data_csv.sort_values('id', ascending = False))

        id                            email               name sex
227  227.0      FrancisMasse@jourrapide.com      Francis Masse   M
226  226.0     FleurCaouette@jourrapide.com     Fleur Caouette   F
225  225.0       PascalineBeaudry@rhyta.com  Pascaline Beaudry   F
224  224.0    ApollineMichaud@superrito.com   Apolline Michaud   F
223  223.0  ClaudeDandonneau@jourrapide.com  Claude Dandonneau   F
..     ...                              ...                ...  ..
4      4.0             AlexisRiel@rhyta.com        Alexis Riel   M
3      3.0        RussellDurand@armyspy.com     Russell Durand   M
2      2.0        BeaufortLesage@einrot.com    Beaufort Lesage   M
1      1.0            GuyMarois@fleckens.hu         Guy Marois   M
0      0.0        LaurentDagenais@rhyta.com   Laurent Dagenais   M

[228 rows x 4 columns]

In [47]:
# Trier sur plusieurs colonnes
# Ici on trie sur la colonne name et id où le tri est décroissant sur le name et croissant sur l'id
print(data_csv.sort_values(['name', 'id'], ascending = [False, True]))

        id                         email                name sex
53    53.0       ZurieTheberge@gustr.com      Zurie Theberge   F
112  112.0          ZoeLeclair@gustr.com         Zoe Leclair   F
100  100.0   ZdenekVadnais@superrito.com      Zdenek Vadnais   M
174  174.0   ZacharieDuplessis@rhyta.com  Zacharie Duplessis   M
64    64.0          YvetteDAvis@cuvox.de       Yvette D Avis   F
..     ...                           ...                 ...  ..
180  180.0          AgnesBriard@cuvox.de        Agnes Briard   F
15    15.0      AgateGrandbois@gustr.com     Agate Grandbois   F
189  189.0        AdeleClavette@cuvox.de      Adele Clavette   F
135  135.0     AdelaideBrousse@gustr.com    Adelaide Brousse   F
13    13.0  AcelineHughes@jourrapide.com      Aceline Hughes   F

[228 rows x 4 columns]